@use "/src/assets/scss/media.scss" as *;

.wait {
  height: 100%;
}

/*.escasan-dialog{
    height: 10%;
  }*/
.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

//.app-loading .logo {
//width: 100px;
//height: 100px;
//background: url(./assets/logo.png) center center no-repeat; 
// }

.app-loading .spinner {
  height: 500px;
  width: 500px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  @include Tamano(xs) {

    height: 250px;
    width: 250px;
  }

  @include Tamano(md) {

    height: 390px;
    width: 390px;
  }


}


img {
  height: 375px;
  width: 375px;


  @include Tamano(xs) {

    height: 200px;
    width: 200px;
  }

  
  @include Tamano(md) {

    height: 300px;
    width: 300px;
  }


}






.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: var(--escan-primario);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}