

<div class="container-lg contenedor-cuenta">


    <div class="escasan-dialog" *ngIf="esModal">
        <div class="btn-contenedor-custom" >
            <button class="close-button custom-cerrar" [mat-dialog-close]="true">
              <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
          </div>
    </div>
    
        
    <form autocomplete="off" [formGroup]="val.ValForm">
        <div class="card">
            <div class="card-header card-escasan-header primario">CATALOGO CUENTA</div>
            <div class="card-body">

                <div class="row">

                       
                    <div class="col-12 col-md-12 col-lg-3 offset-lg-5 mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                            <div class="form-floating">
                                <select class="form-select form-select-lg" aria-label="Nivel"
                                id="cmbNivel" formControlName="cmbNivel"
                                (change)="v_Nivel($event);">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                                <label for="cmbNivel">Nivel</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4  mb-3">
                          
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-object-group fa-lg"></i></span>
                            <div class="form-floating">
                                <select class="form-select form-select-lg" aria-label="Grupo" id="cmbGrupo"
                                    formControlName="cmbGrupo"
                                    (change)="v_Grupo($event);">
                                    <option *ngFor="let det of lstGrupos" value="{{det.IdGrupo}}">{{det.Nombre}}</option>

                                </select>
                                <label for="cmbGrupo">Grupo</label>
                            </div>
                        </div>
                    </div>

                 


                </div>

                <div class="row">

                  
                    <div class="col-12 col-md-12 col-lg-4 mb-1">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fab fa-cuttlefish fa-lg"></i></span>
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Cuenta" mask="{{Mascara}}" prefix="{{Prefix}}"
                                    [showMaskTyped]="true" id="txtCuenta" formControlName="txtCuenta">
                                <label for="txtCuenta">Cuenta</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-8 mb-1">
                        <div class="input-group">
                            <div class="form-floating">
                                <textarea type="textarea" class="form-control" placeholder="Descripción" id="txtDescripcion"
                                    formControlName="txtDescripcion"></textarea>
                                <label for="txtDescripcion">Descripción</label>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="row">

                    <div class="col-12 col-md-12 col-lg-4 mb-1">

                        <div class="row">

                            
    
                            <div class="col-12 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                                    <div class="form-floating">
                                        <select class="form-select form-select-lg" aria-label="Clase" id="cmbClase"
                                            formControlName="cmbClase">
                                            <option value="G">Grupo</option>
                                            <option value="D">Detalle</option>
                                        </select>
                                        <label for="cmbClase">Clase</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-12 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                                    <div class="form-floating">
                                        <select class="form-select form-select-lg" aria-label="Clase" id="cmbNaturaleza"
                                            formControlName="cmbNaturaleza">
                                            <option value="D">Debito</option>
                                            <option value="C">Crédito</option>
                                        </select>
                                        <label for="cmbNaturaleza">Naturaleza Cuenta</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mb-1">

                                <div class="bloqueada">

                                    <div class="contenedor">
                                        <label> Bloqueada</label>
                                        <input type="checkbox" data-toggle="toggle" data-style="on" data-onstyle="on"
                                            data-offstyle="off" data-onlabel="Si" data-offlabel="No" data-width="120"
                                            id="chkBloqueada" formControlName="chkBloqueada"
                                            (change)="v_Bloqueada($event)">
                                       
                                        
                                    </div>
                                   
                                </div>
                              
                            </div>
                        </div>

                     

                      
                    </div>


                    <div class="col-12 col-md-12 col-lg-8" >

                        <div class="row">
                            <div class="custom-group">
                                <span class="input-group-text input-group-custom"><p>Cuenta Padre</p></span>
                                <div>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Cuenta"
                                            id="txtCuentaPadre" formControlName="txtCuentaPadre"
                                            [matAutocomplete]="cmbPadre">
                                        <label for="txtCuentaPadre">Cuenta</label>
                                    </div>
                                    <div class="form-floating">
                                        <textarea type="textarea" class="form-control" placeholder="Descripción"
                                            id="txtDescripcionPadre"
                                            formControlName="txtDescripcionPadre"></textarea>
                                        <label for="txtDescripcionPadre">Descripción</label>
                                    </div>
                                    
                                    <mat-autocomplete autoActiveFirstOption #cmbPadre="matAutocomplete"
                                    (optionSelected)="v_Select_Cuenta($event)">
                                    <mat-option *ngFor="let option of filteredCuentaPadre | async" [value]="option.CuentaContable">
                                        {{option.Filtro}}
                                    </mat-option>
                                </mat-autocomplete>
                                </div>
                            </div>
                           
                        </div>
                 
                    </div>

                  
                </div>

              
                <div class="row mt-2 botones linea-top-secundario">

                    <div class="col-12 col-md-12 col-lg-6 mb-3">
                        <button type="button" class="btn btn-secundario" id="btnRefrescar-Cuenta" (click)="v_CargarDatos();"><i class="fa-solid fa-arrows-rotate fa-spin fa-lg"></i> Refrescar</button>
                    </div>

                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="btn-contenedor">
                            <button type="button" class="btn btn-primario" id="btnGuardarCuenta"><i class="fa-solid fa-floppy-disk fa-beat-fade fa-lg"></i> Guardar</button>
                            <button type="button" class="btn btn-opcional" id="btnCanclarCuenta" (click)="v_Evento('Limpiar');" *ngIf="!esModal"><i class="fa-solid fa-arrow-left fa-beat fa-lg"></i> Cancelar</button>
      
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </form>


</div>