
<div>    
    <div class="container">
        <form autocomplete="off" [formGroup]="val.ValForm">
        <div class="card">
            <div class="card-header card-escasan-header opcional"> Datos Ejercicio Fiscal..</div>
            <div class="card-body">

                <div class="row">
                    <div class="col-9 mb-1">
                        <div  class="input-group">
                            <span class="input-group-text"><i class="fa-regular fa-file fa-beat-fade"></i></span>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="idEjercicioFiscal" placeholder="Ejercicio Fiscal">
                                <label for="idEjercicioFiscal">Ejercicio Fiscal:</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-12 col-lg-3 mb-3">
                        <div class="row justify-content-md-center">
                            <div class="bloqueada">
                                <div class="contenedor ">
                                    <label> Bloqueado</label>
                                    <input type="checkbox" data-toggle="toggle" data-style="on" data-onstyle="on"
                                        data-offstyle="off" data-onlabel="Si" data-offlabel="No" data-width="120"
                                        id="chkBloqueadaEF" formControlName="chkBloqueadaEF">
                                </div>                        
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">               
                    <div class="col-12 col-md-12 col-lg-6 mb-1">
                        <div  class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-calendar-days fa-beat-fade fa-lg"></i></span>
                            <div class="form-floating">                               
                                <input type="text"  mask="0000"  class="form-control" id="idFechaIni" placeholder="Fecha Inicio Ejercicio Fiscal" min="2020" max="2030">
                                <label for="idFechaIni">Fecha Inicio</label>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12 col-md-12 col-lg-6 mb-1">
                        <div class="row mb-1">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-regular fa-newspaper fa-beat-fade fa-lg"></i></span>
                                <div class="form-floating">
                                    <div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Cuenta"
                                                id="txtCuentaA" formControlName="txtCuentaA"
                                                [matAutocomplete]="cmbPadre">
                                            <label for="txtCuentaA">Cuenta Acumulada</label>
                                        </div>
                                                                         
                                        <mat-autocomplete autoActiveFirstOption #cmbPadre="matAutocomplete"
                                        (optionSelected)="v_Select_Cuenta($event)">
                                        <mat-option *ngFor="let option of filteredCuenta1 | async" [value]="option.Filtro">
                                            {{option.Filtro}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-6 mb-1">
                        <div class="row mb-1">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-regular fa-newspaper fa-beat-fade fa-lg"></i></span>
                                <div class="form-floating">
                                    <div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Cuenta"
                                                id="txtCuentaP" formControlName="txtCuentaP"
                                                [matAutocomplete]="cmbPadre2">
                                            <label for="txtCuentaP">Cuenta Perdida</label>
                                        </div>
                                                                         
                                        <mat-autocomplete autoActiveFirstOption #cmbPadre2="matAutocomplete"
                                        (optionSelected)="v_Select_Cuenta($event)">
                                        <mat-option *ngFor="let option of filteredCuenta2 | async" [value]="option.Filtro">
                                            {{option.Filtro}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   

                    <div class="col-12 col-md-12 col-lg-6 mb-1">
                        <div class="row mb-1">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-arrow-down-wide-short fa-beat-fade fa-lg"></i></span>
                                <div class="form-floating">
                                    <div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Cuenta"
                                                id="txtCuentaPr" formControlName="txtCuentaPr"
                                                [matAutocomplete]="cmbPadre3">
                                            <label for="txtCuentaPr">Cuenta Periodo</label>
                                        </div>
                                                                         
                                        <mat-autocomplete autoActiveFirstOption #cmbPadre3="matAutocomplete"
                                        (optionSelected)="v_Select_Cuenta($event)">
                                        <mat-option *ngFor="let option of filteredCuenta3 | async" [value]="option.Filtro">
                                            {{option.Filtro}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-contenedor d-grid gap-2 d-md-flex justify-content-md-end mb-3">                            
                            <span>
                                <button type="button" class="btn btn-secundario" id="btnPeriodos"><i class="fa-solid fa-eye fa-beat-fade fa-lg"></i> Ver Periodos</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="row  mt-2 botones linea-top-secundario">
                    <div class="btn-contenedor mt-3 mb-3">                        
                        <span>
                            <button type="button" class="btn btn-secundario" id="btnRefrescar"  (click)="v_CargarDatos();"><i class="fa-solid fa-arrows-rotate fa-spin fa-lg"></i> Refrescar</button>
                        </span>

                        <span>
                            <button type="button" class="btn btn-primario" id="btnGuardarEjercicioF"><i class="fa-solid fa-floppy-disk fa-beat-fade fa-lg"></i> Guardar</button>
                            <button type="button" class="btn btn-opcional" id="btnCancelarEjercicioF"><i class="fa-solid fa-arrow-left fa-beat fa-lg"></i> Cancelar</button>
                        </span>   
                        
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>








