@import "/src/assets/scss/media.scss";

.checkboxFont-size {
    font-size: 1.5em !important;
}
.bloqueada {

    display: flex;
    justify-content: left;
}

.contenedor{
    text-align: center;

    label{
        font-weight: bold;
        display: block;
        margin-bottom: 2px;
    }
}

.btn-contenedor{
    display: flex;
    justify-content: space-between;


    .btn-primario{
        margin-right: 10px;
    }

   
 }

 tr
{

    background-color: var(--escan-fondo);

    td:first-child{

        span{
            display: block;
        }
        
        span:last-child{
            margin-left: 30px;
        }
    
    }
    
    b{
        margin-right: 5px;
    }

    td:not(:first-child){

        @include Tamano_Menor(lg) {
            span{
                display: block;
            }
            span:last-child{
                margin-left: 15px;
            }
          }

    }
}


tr:hover,
td:hover{
    background-color: rgba(86, 164, 59, 0.30);
    font-weight: bold;
}


.bottom-secundario{
    border-style:dashed;
}

.abierto{
    color: var(--escan-primario);
}
