  @import "/src/assets/scss/media.scss";

  .retenciones {
      width: 500px;
      height: 500px;

  }


  @include Tamano_Menor(lg) {
      .retenciones {
          width: 100%;
          height: 100%;

      }

  }


  p {
      text-align: center;
      font-weight: bold;

      span{
        color: var(--escan-secundario);
      }
  }




  //████████████████████████████████████████████TABLA████████████████████████████████████████████████████████████████████████



  .right {
      text-align: right;
  }

  .center {
      text-align: center;
  }


