@import "/src/assets/scss/media.scss";

.contenedor-adre{
    margin-bottom: 450px;
}


.contenedor-tabla {
    background: var(--escan-fondo);
    margin-bottom: 250px;
}

.table-container {
    width: fit-content;
    position: relative;
    margin-bottom: 50px;
}




.encabezado-titulo{

    background-color: var(--escan-opcional);

    p{
        color: var(--escan-fondo);
    }
    
    div{
     display: inline-block;
     
    }
 
 
     div:first-child{
         width: 80%;
     }
 
     div:last-child{
         color: var(--escan-fondo);
         width: 20%;
     }
 }


.contenedor-filtro {
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    background-color: var(--escan-fondo);

    p {

        font-weight: bold;
        font-size: 1.5em;
    }
}





.saldo-inicial {
    text-align: left;

}

.saldo-final {
    text-align: right;
}


.saldo-inicial,
.saldo-final {
    font-size: 1.2em;
    height: 35px;

    span {
        padding: 10px;
        background: var(--escan-primario);
        color: var(--escan-fondo);

        b {
            color: var(--escan-fondo);
        }
    }


}

table,
.tabla-layout {
    table-layout: fixed;
    width: 100%;
}


table {

    margin-top: 125px;

    @include Tamano_Menor(lg) {
        margin-top: 245px;
    }


    .columna-titulo {
        font-weight: bold;
    }

    td,
    th {


        .texto {
            display: block;
            text-align: left;
            margin-left: 10px;

            span {
                margin-right: 15px;
            }
        }




        .numero {
            display: block;
            text-align: right;
        }

        .evento {
            display: block;
            display: flex;
            justify-content: flex-end;

        }
    }



}

mat-paginator{
    margin-bottom: 55px;
}


.mat-paginator-sticky {
    bottom: 75px;
    position: sticky;
    z-index: 10;

    @include Tamano_Menor(lg) {
        bottom: 190px;
    }
  }

  
.mobile-label {
    display: none;
}

.mobile-col:not(.haber) {
    .numero {
        div:last-child {
            visibility: hidden;
        }
    }

}

@include Tamano_Menor(lg) {


    .texto {

        div {
            display: inline-block;
        }


        div:first-child {
            width: 30%;
        }

        div:last-child {
            width: 70%;
        }
    }


    .numero {
        div {
            display: inline-block;
            width: 50%;
        }

        div:nth-child(1),
        div:nth-child(2)
        {
            text-align: center;
        }

    }


    .mobile-label {
        display: initial;
        font-weight: bold;
    }

    .columna-titulo {
        display: none;
    }

    .mobile-col {
        display: block;

    }

    .mobile-col.haber {
        display: none;
    }

    .mobile-col.debe {

        .numero{
            div:last-child{
                visibility:visible;
            }
        }

       
    }




}





//████████████████████████████████████████████PIE████████████████████████████████████████████████████████████████████████

.offcanvas-bottom{
    
    width: 100%;
    height: 280px;



    

    @include Tamano(md) {
        height: 240px;
    }


    @include Tamano(lg) {
        height: 180px;
    }


    @include Tamano(xl) {
        height: 170px;
    }


}


.contenedor-pie {
    position: relative;
    
}

.pie-asiento {
    /*position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;*/
    z-index: 5;
    background-color: var(--escan-fondo);
    padding: 10px;
 
    .botones{
        margin-right: 10px;
        padding-right: 10px;
    }

    .totales {

        width: 100%;
        text-align: right;
        padding-right: 10px;

    

        .debito,
        .credito,
        .saldofinal {
            width: 100%;
        }



        .etiqueta{
            width: 30%;
        }

        .valores {
            background-color: var(--escan-primario);
            color: var(--escan-fondo);
            width: 70%;
        }

        .valores.debito-credito{
            background-color: var(--escan-opcional);
            width: 70%;
        }

        .etiqueta,
        .valores {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 1.1em;
            padding: 5px;
        }

      

    }

 


}




