<div class="contenedor-cheques">
    <form autocomplete="off" [formGroup]="val.ValForm">


        <div class="card">
            <div class="card-header card-escasan-header opcional">Cheques</div>
            <div class="card-body">
                <div class="row linea-bottom-primario">

                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-1">
                        <igx-combo #cmbCuentaBancaria [data]="lstCuentabancaria" valueKey="IdCuentaBanco"
                            displayKey="DisplayKey" id="cmbCuentaBancaria" formControlName="cmbCuentaBancaria"
                            placeholder="No Cuenta" searchPlaceholder="Seleccione una serie..." [autoFocusSearch]="true"
                            [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_CuentaBanco($event)"
                            (keyup)="v_Enter_CuentaBanco($event);" >
                            <label igxLabel>Banco</label>
                            <igx-prefix><i class="fas fa-list fa-lg"></i></igx-prefix>
                        </igx-combo>
                    </div>


                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-1">
                        <div class="input-group">

                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Nombre Cuenta" id="txtNombreCuenta"
                                    formControlName="txtNombreCuenta">
                                <label for="txtNombreCuenta">Nombre Cuenta</label>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-1">
                        <div class="input-group">

                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Banco" id="txtBanco"
                                    formControlName="txtBanco">
                                <label for="txtBanco">Banco</label>
                            </div>

                        </div>
                    </div>


                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-1">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Moneda" id="txtMoneda"
                                    formControlName="txtMoneda">
                                <label for="txtMoneda">Moneda</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-1">

                        <div class="input-group">
                            <span class="input-group-text secundario">N°CK</span>
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="No" id="txtNoDoc"
                                    formControlName="txtNoDoc">
                                <label for="txtNoDoc">N°</label>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row linea-bottom-secundario mt-2">
             
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-1">

                        <igx-combo #cmbBodega [data]="lstBodega" valueKey="Codigo" displayKey="Bodega" id="cmbBodega"
                            formControlName="cmbBodega" placeholder="Bodega"
                            searchPlaceholder="Seleccione una bodega..." [autoFocusSearch]="true"
                            [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_Bodega($event)">
                            <label igxLabel>Bodega</label>
                            <igx-prefix><i class="bi bi-shop fa-lg"></i></igx-prefix>
                        </igx-combo>
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-1">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                            <div class="form-floating">
                                <input type="date" id="txtFecha" class="form-control" placeholder="Fecha"
                                    aria-label="Fecha" formControlName="txtFecha" (change)="V_TasaCambios();">
                                <label for="txtFecha">Fecha</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-1">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-money-bill-trend-up fa-lg"></i></span>
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="TC" id="TxtTC"
                                    formControlName="TxtTC">
                                <label for="TxtTC">TC</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-1">

                        <div class="input-group">
                            <span class="input-group-text">C$</span>
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Total Cordoba"
                                    id="txtTotalCordoba" formControlName="txtTotalCordoba">
                                <label for="txtTotalCordoba">Valor</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-1">
                        <div class="input-group">
                            <span class="input-group-text">U$</span>
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Total Dolar" id="txtTotalDolar"
                                    formControlName="txtTotalDolar">
                                <label for="txtTotalDolar">Valor</label>
                            </div>
                        </div>
                    </div>


                </div>
                
                <div class="row mt-2">

                    <div class="col-12 col-sm-12 col-lg-8 ">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-5 col-lg-5 mb-1">

                                <igx-combo #cmbCuentaC [data]="lstCuenta" valueKey="CuentaContable" displayKey="NombreCuenta" id="cmbCuentaC"
                                    formControlName="cmbCuentaC" placeholder="Cuenta Contable"
                                    searchPlaceholder="Seleccione una Cuenta contable..." [autoFocusSearch]="true"
                                    [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_Cuenta2($event)">
                                    <label igxLabel>Cuenta</label>
                                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>
                                </igx-combo>
                            </div>
        
        
                            <div class="col-12 col-sm-12 col-md-7 col-lg-7 mb-1">
                                <div class="input-group">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="A Nombre de" id="txtBeneficiario"
                                            formControlName="txtBeneficiario">
                                        <label for="txtBeneficiario">A Nombre de</label>
                                    </div>
        
                                </div>
                            </div>                                   
        
                            <div class="col-12 col-md-12 col-lg-12 mb-1">
                                <div class="concepto">
                                    <div class="form-floating">
                                        <textarea type="textarea" class="form-control" placeholder="Concepto" id="txtConcepto"
                                            formControlName="txtConcepto"></textarea>
                                        <label for="txtConcepto">Concepto</label>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-12 col-sm-12 col-xs-12 col-lg-4">                       
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text">IR</span>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="IR en la fuente"
                                            id="txtIrFuente" formControlName="txtIrFuente" (keypress)="HabiliarValor($event)"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')">
                                        <label for="txtIrFuente">IR en la fuente</label>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text">SP</span>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Servicios Profesionales" id="txtServP" 
                                            formControlName="txtServP" (keypress)="HabiliarValor($event)"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')">
                                        <label for="txtServP">Servicios Profesionales</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text">AL</span>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Servicios Profesionales" id="txtAlcaldias"
                                            formControlName="txtAlcaldias" (keypress)="HabiliarValor($event)"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')">
                                        <label for="txtAlcaldias">Alcaldia</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text">IVA</span>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="IVA" id="txtIva"
                                            formControlName="txtIva" (keypress)="HabiliarValor($event)"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')">
                                        <label for="txtIva">Ingrese el Valor</label>
                                    </div>
                                </div>                                    
                            </div>

                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text">TC</span>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="TC Compra Divisa" id="txtTcCompraD"
                                            formControlName="txtTcCompraD" (keypress)="HabiliarValor($event)"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')">
                                        <label for="txtTcCompraD">TC Compra Divisa</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Botones reembolsos y contabilizar -->
                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <div class="row mt-3 ">
                                    <div class="botones-edicion col-12 col-md-12 col-lg-6 mb-1">
                                        <button type="button" class="btn btn-primario" id="btnContabilizar-Cheques" (click)="v_Contabilizar();" [disabled]="!this.val.EsValido()"><i class="fa-solid fa-file-invoice"></i>
                                            Contabilizar</button> 
                                    </div>
                                    <div class="botones-edicion col-12 col-md-12 col-lg-6 mb-1">
                                        <button type="button" class="btn btn-opcional" id="btnModal-Reembolso"
                                    (click)="v_Evento('Limpiar');" *ngIf="!esModal"><i class="fa-solid fa-money-bill-transfer"></i>
                                    Reembolso</button>
                                    </div>
                                    
                                </div>
                                    
                            </div>

                        </div>                         
                    </div>                                      
                </div>                
            </div>
        </div>


    </form>
</div>




<div class="contenedor-cheques mt-2">
    <div class="row g-1 header">


        <div class="col-8 col-lg-2"><span>Cuenta</span></div>

        <div class="col-12 col-lg-3"><span>Descripción</span></div>

        <div class="col-12 col-lg-3"><span>Referencia</span></div>

        <div class="col-6 col-lg-2 numero"><span>Débito</span></div>


        <div class="col-6 col-lg-2 numero"><span>Crédito</span></div>

    </div>


    <div class="mat-elevation-z8 contenedor-tabla">
        <table class="table table-hover  table-sm tabla-layout mat-elevation-z8" mat-table [dataSource]="lstDetalle">



            <ng-container matColumnDef="col1">
                <td mat-cell *matCellDef="let det" (contextmenu)="V_Popup($event, det)">
                    <div class="row">

                        <div class="col-12 col-lg-5">
                            <div class="row">
                                <div class="header-cell"><span>Cuenta</span></div>
                            </div>
                            <div class="row">


                                <form autocomplete="off" [formGroup]="valTabla.ValForm">
                                    <igx-combo [data]="lstCuenta" [(ngModel)]="det.CuentaContable"
                                        valueKey="CuentaContable" displayKey="NombreCuenta"
                                        id="txtCuenta{{det.NoLinea}}" formControlName="txtCuenta{{det.NoLinea}}"
                                        [autoFocusSearch]="true" [overlaySettings]="overlaySettings"
                                        (selectionChanging)="v_Select_Cuenta($event, det)"
                                        (keyup)="v_Enter_Cuenta($event, det);">

                                    </igx-combo>
                                </form>


                            </div>



                        </div>




                        <div class="col-12 col-lg-3">
                            <div class="row">
                                <div class="header-cell"><span>Referencia</span></div>
                            </div>
                            <div class="row">
                                <form autocomplete="off" [formGroup]="valTabla.ValForm">
                                    <input type="text" class="form-control" id="txtReferencia{{det.NoLinea}}" 
                                        formControlName="txtReferencia{{det.NoLinea}}" [(ngModel)]="det.Referencia"
                                        (keydown.Enter)="V_Focus('Debito/Credito', det);">
                                </form>


                            </div>

                        </div>

                        <div class="col-6 col-lg-2">

                            <div class="row">
                                <div class="header-cell"><span>Débito</span></div>
                            </div>
                            <div class="row">
                                <form autocomplete="off">
                                    <input type="text" class="form-control numero" id="txtDebito{{det.NoLinea}}" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="det.Debito"
                                        (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')"
                                        (keydown.Enter)="V_Focus('NuevaFila', det);" (focusout)="V_FocusOut(det);"
                                        (change)="V_Calcular(); this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')" autocomplete="off">
                                </form>
                            </div>


                        </div>


                        <div class="col-6 col-lg-2">
                            <div class="row">
                                <div class="header-cell"><span>Crédito</span></div>
                            </div>
                            <div class="row">
                                <form autocomplete="off">
                                    <input type="text" class="form-control numero" id="txtCredito{{det.NoLinea}}" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="det.Credito"
                                        (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal');"
                                        (keydown.Enter)="V_Focus('NuevaFila', det);" (focusout)="V_FocusOut(det);"
                                        (change)="V_Calcular(); this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')" autocomplete="off">
                                </form>        
                            </div>

                        </div>

                    </div>


                </td>
            </ng-container>









            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="linea-bottom-secundario dashed"></tr>


        </table>

        <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
            [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
        </div>
        <mat-menu #contextMenu="matMenu" #contextMenu2="matMenu">
            <ng-template matMenuContent let-item="item">
                <button mat-menu-item (click)="V_Agregar()"><i class="fas fa-plus fa-lg"></i>Agregar</button>
                <button mat-menu-item (click)="V_Eliminar(item)" *ngIf="lstDetalle.data.length > 1"><i
                        class="fas fa-eraser fa-lg"></i>Eliminar</button>
            </ng-template>
        </mat-menu>
    </div>

</div>




<div class="contenedor-pie">
    <div class="pie-cheques">

        <div class="totales">
            <span class="debito"><span class="etiqueta">Débito:</span><span class="valores">{{dec_TotalDebe | number :
                    "1.2-2"}}</span></span>
            <span class="credito"><span class="etiqueta">Crédito:</span><span class="valores">{{dec_TotalHaber | number
                    : "1.2-2"}}</span></span>
            <span class="diferencia"><span class="etiqueta">DIF:</span><span class="valores dif">{{dec_Dif | number :
                    "1.2-2"}}</span></span>
        </div>

        <div class="botones" *ngIf="!esModal">
            <div>
                <button type="button" class="btn btn-secundario" id="btnRefrescar-Cheques"
                    (click)="v_CargarDatos();"><i class="fa-solid fa-arrows-rotate fa-spin fa-lg"></i>
                    Refrescar</button>
            </div>

            <div class="botones-edicion">
                <button type="button" class="btn btn-primario" id="btnGuardar-Cheques" (click)="v_Guardar();"><i
                        class="fa-solid fa-floppy-disk fa-beat-fade fa-lg"></i>
                    Guardar</button>

                <button type="button" class="btn btn-opcional" id="btnCanclar-Cheques"
                    (click)="v_Evento('Limpiar');" *ngIf="!esModal"><i class="fa-solid fa-arrow-left fa-beat fa-lg"></i>
                    Cancelar</button>
            </div>
        </div>

    </div>
</div>