<div id="Modulo-VS-Contabilidad" class="contenedor">
    <div class="row">

        <div class="contenedor-filtro linea-bottom-primario">
            <div class="row">
                <p>Modulo VS Contabilidad</p>
            </div>

            <div class="row mb-2">
                <form autocomplete="off" [formGroup]="val.ValForm">
                    <div class="row">


                        <div class="col-12 col-md-12 col-lg-2 mb-1">
                            <div class="form-group">
                                <div class="form-time-picker">
                                    <igx-date-picker #datepiker formControlName="txtFecha" id="txtFecha"
                                        [inputFormat]="'MM/yyyy'">
                                        <label igxLabel>Periodo Cierre</label>
            
                                        <igx-picker-toggle igxPrefix>
                                            <igx-icon igxPrefix><i class="bi bi-calendar primario"></i></igx-icon>
                                        </igx-picker-toggle>
            
                                        <igx-picker-clear igxSuffix>
                                            <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                                        </igx-picker-clear>
            
                                    </igx-date-picker>
                                </div>
                            </div>

                        </div>


                        <div class="col-12 col-md-12 col-lg-3  mb-1">

                            <igx-combo #cmbMoneda  [data]="lstMoneda"  id="cmbMoneda" formControlName="cmbMoneda"
                            [displayKey]="'Moneda'" [valueKey]="'ValorMoneda'"
                            (selectionChanging)="this.val.V_SingleSelection($event);">
                                <igx-prefix><i class="fas fa-list fa-lg"></i></igx-prefix>
                            </igx-combo >

                        </div>




                        <div class="col-12 col-md-12 col-lg-3  mb-1">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-primario" id="btn-Modulo-VS-Contabilidad"
                                    (click)="V_Comparar();"><i class="fa-solid fa-code-compare fa-beat-fade fa-xl"></i>
                                    COMPARAR</button>
                                </div>

                                <div class="col-6">
                                    <button type="button" class="btn btn-opcional" id="btn-Limpiar-Modulo-VS-Contabilidad"
                                    (click)="V_Limpiar();"><i class="fa-solid fa-eraser fa-beat-fade fa-xl"></i>
                                    LIMPIAR</button>
                                </div>

                            </div>
                            
                        </div>


                        <div class="col-12 col-md-12 col-lg-4 mb-1">

                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>

                                <div class="form-floating">
                                    <input type="text" id="txtBuscar-modulo-vs-contabilidad" class="form-control"
                                        placeholder="Buscar" aria-label="Buscar"
                                        formControlName="txtBuscar-modulo-vs-contabilidad" (keyup)="v_Filtrar($event)">
                                    <label for="txtBuscar-modulo-vs-contabilidad">Buscar</label>

                                </div>



                                <span class="input-group-text">

                                    <input type="checkbox" id="chkSoloDiferencia" data-toggle="toggle" data-style="on" checked
                                                        data-onstyle="on" data-offstyle="off" data-onlabel="Todos" data-offlabel="Diferencia"
                                                        data-width="120"   (change)="V_TipoSaldo($event)">


                                </span>



                                

                            </div>


                        </div>



                    </div>
                </form>
            </div>



        </div>

    </div>


    <div class="row">

        <div class="mat-elevation-z8  contenedor-tabla">

            <div class="contenedor-encabezado">
                <div class="row">
                    <div class="col-md-3 col-lg-3"><b>Cuenta Contable</b></div>
                    <div class="col-md-3 col-lg-3"><b>No Documento</b></div>
                    <div class="col-md-2 col-lg-2 numero"><b>Modulo</b></div>
                    <div class="col-md-2 col-lg-2 numero"><b>Contabilidad</b></div>
                    <div class="col-md-2 col-lg-2 numero"><b>Saldo</b></div>
                </div>
            </div>

            <table class="table table-hover table-bordered table-sm tabla-custom mat-elevation-z8" mat-table
                [dataSource]="lst">





                <ng-container matColumnDef="col1">
                    <td mat-cell *matCellDef="let det">
                        <div class="row">


                              
                            <div class="col-8 col-sm-4 col-md-6 col-lg-6 mb-1 etiqueta">
                                <b>Cuenta Contable</b>
                            </div>


                            <div class="col-4 col-sm-8 col-md-6 col-lg-6  mb-1 etiqueta">
                                <b>Documento</b>
                            </div>


                           


                            <div class="col-8 col-sm-4 col-md-3 col-lg-3 mb-2">
                                <span>{{det.CuentaContable}} - {{det.NombreCuenta}}</span>
                            </div>


                            <div class="col-4 col-sm-8 col-md-3 col-lg-3 mb-2">
                                <span>{{det.NoDocumento }}  @if(Nivel == 4) {<b class="ncodBog">{{det.CodigoBodega }}</b>}</span>
                            </div>


                
                            <div class="col-12">
                                <span>{{(det.Referencia == '' ? det.Tabla : det.Referencia)}} </span>
                            </div>


                            
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-1 numero etiqueta">
                                <b>Modulo</b>
                            </div>


                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-1 numero etiqueta">
                                <b>Contabilidad</b>
                            </div>




                            <div class="col-6 col-sm-6 col-md-2 col-lg-2 offset-md-6 offset-lg-6 mb-2 numero">
                                <span>{{det.Modulo | number : '1.2-2'}}</span>
                            </div>


                            <div class="col-6 col-sm-6 col-md-2 col-lg-2 mb-2 numero">
                                <span>{{det.Contabilidad | number : '1.2-2'}}</span>
                            </div>

                            <div
                                class="col-6 col-sm-6 col-md-2 col-lg-2 offset-6 offset-sm-6 offset-md-0 offset-lg-0 mb-2 saldo">
                                <span class="etiqueta"><b>Saldo: </b></span>
                                <span>{{det.Saldo | number : '1.2-2'}}</span>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-6 mb-2">

                                <button type="button" class="btn btn-primario navegacion"
                                    id="btn-Modulo-VS-Contabilidad-siguiente" (click)="V_Navegar(det, 'Siguiente')"
                                    *ngIf="Nivel <= 3">
                                    <i class="fa-solid fa-circle-info fa-lg"> </i>
                                </button>



                            </div>



                            <div class="col-6 mb-2" style="text-align: right;">

                                <button type="button" class="btn btn-secundario navegacion"
                                    id="btn-Modulo-VS-Contabilidad-atras" (click)="V_Navegar(det, 'Atras')"
                                    *ngIf="Nivel > 0 && Nivel <= 4">
                                    <i class="fa-solid fa-arrow-left-long fa-lg"></i>
                                </button>



                            </div>

                        </div>
                    </td>
                </ng-container>







                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="linea-bottom-secundario dashed">
                </tr>


            </table>
            <mat-paginator [pageSizeOptions]="[100, 200]" class="mat-paginator-sticky"></mat-paginator>

        </div>

    </div>

</div>