

<div class="card">
    <div class="card-header card-escasan-header opcional">Registros Costo de Internacion
</div>
    <div class="card-body">


        <div class="row mb-3">
            <form autocomplete="off" [formGroup]="val.ValForm">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
    
                    <div class="form-floating">
                        <input type="text" id="txtBuscar-GastInterno" class="form-control" placeholder="Buscar"
                            aria-label="Buscar" formControlName="txtBuscar-GastInterno" (keyup)="V_Filtrar($event)">
                        <label for="txtBuscar-GastInterno">Buscar</label>
    
                    </div>
                    <span class="input-group-text"><button type="button" class="btn btn-secundario"
                            id="btnRefrescar-GastInterno" (click)="V_CargarDatos();"><i
                                class="fa-solid fa-arrows-rotate fa-spin fa-lg"></i> Refrescar</button></span>
    
                </div>
    
            </form>
            
        </div>



        <div class="contenedor-tabla">
            <div class="mat-elevation-z8">
                <table class="table table-hover  table-sm tabla-layout" mat-table [dataSource]="lstRegistros">
        
        
                    <ng-container matColumnDef="CODIGO">

                        <td mat-cell *matCellDef="let det">

                            <div class="row">

                                <div class="col-12 col-md-3 col-lg-3">{{det.PROVEEDOR}}</div>

                                <div class="col-12 col-md-4 col-lg-3">{{det.DESCRIPCION}}</div>


                                <div class="col-12 col-md-3 col-lg-2">{{det.CUENTACONTABLE}}</div>


                                <div class="col-md-2 mb-1 mobile-md"><i
                                    [ngClass]="det.ESTADO == 'A' ? 'fa-solid fa-check fa-2xl' : 'fa-solid fa-xmark fa-2xl'"></i></div>


                                <div class="col-12 col-md-2 col-lg-2">{{det.APLICAREN == "C"? "Compra" : "Liquidacion"}}</div>

                                <div class="col-12  col-md-2 col-lg-1 mb-1">{{det.TIPO == "D"? "Debito" : "Credito"}}</div>


                                <div class="col-12  col-lg-1 mb-2 desktop"><i
                                    [ngClass]="det.ESTADO == 'A' ? 'fa-solid fa-check fa-2xl' : 'fa-solid fa-xmark fa-2xl'"></i></div>


        
                                    <div class="col-12 col-md-4 col-lg-4  offset-md-4 offset-lg-8 contenedor-boton">
                                        <button type="button" class="btn btn-primario" (click)="V_Editar(det);"><i
                                            class="fa-solid fa-pen-to-square fa-xl"></i></button>
                                    </div>
                                    

                            </div>

                  
                            
                        </td>

                       
                    </ng-container>

        
 

        
     
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="linea-bottom-secundario dashed">
                    </tr>
        
        
                </table>
                <mat-paginator [pageSizeOptions]="[100, 200]" class="mat-paginator-sticky"></mat-paginator>
        
            </div>
        
        </div>

    </div>


</div>



<div>

  
</div>

