@use "/src/assets/scss/media.scss" as *;



p{
    text-align: center;
}

th, p{
    font-weight: bold;
}

.contenedor-boton{
    text-align: right;

    
   

    button{

        @include Tamano_Menor(md) {

           width: 100%;
        }
       
    }
}


.desktop{

    display:initial;
    text-align: right;

    @include Tamano_Menor(lg) {

        display: none;
    }

    @include Tamano_Menor(md) {

        display: initial;
    }


}

.mobile-md{

    display:none;

    @include Tamano_Menor(lg) {

        display: initial;
    }

    @include Tamano_Menor(md) {

        display: none;
    }


}

