<div class="escasan-dialog" *ngIf="esModal">
    <div class="btn-contenedor-custom" >
        <button class="close-button custom-cerrar" [mat-dialog-close]="true">
          <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
      </div>
</div>
<div class="row mt-2">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>                         
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="btn-contenedor btn-contenedor d-grid gap-2 d-md-flex justify-content-md-end">
            <span>
                <button type="button" class="btn btn-primario" id="btnGuardarCuenta" [mat-dialog-close]="true"><i class="fa-solid fa-circle-xmark fa-beat-fade fa-lg "></i>Salir</button>
            </span>

            
        </div>
    </div>
</div>