

.contenedor{
    position: relative;

}

.contenedor-imagen{
   margin-left: 40px;
}

img{
    position: relative;
    width:220px;
    height:60px;
    margin-left: 10px;
    padding: 0;
}


.contenedor-boton{
    position: fixed;
    top: 15px;
    left: 0;
    //right: 0;
    padding-top: 10px;
    background-color: var(--escan-secundario);
    i{
        color: var(--escan-fondo);
    }
    
    z-index: 2;
}


.contenedor-boton.start{
    left: 0;
}



.DynamicFrom{
    z-index: 0;
}


.side-width{
    width: 250px !important;


}