<div class="offcanvas offcanvas-start w-25 side-width" tabindex="-1" id="offcanvas" data-bs-keyboard="true" 
    data-bs-backdrop="true" >
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
            <li class="nav-item">
                <a href="#" class="nav-link text-truncate">
                    <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Inicio</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-shop fa-lg"></i><span class="ms-1 d-none d-sm-inline">Ejercicio Fiscal</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#" id="aNewEjercicio"><i class="fa-solid fa-cash-register"></i> Ejercicio Fiscal</a></li>
                    <li><a class="dropdown-item" href="#" id="aRegEjercicio"><i class="fa-solid fa-cash-register"></i> Registros</a></li>
                </ul>
            </li>
     

            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fab fa-cuttlefish fa-lg"></i><span class="ms-1 d-none d-sm-inline">Cuentas Contables</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#" id="aNewCuenta"><i class="fab fa-cuttlefish fa-lg"></i> Nueva Cuenta</a></li>
                    <li><a class="dropdown-item" href="#" id="aRegCuenta"><i class="fa-solid fa-table-cells"></i> Registros</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-book fa-lg"></i><span class="ms-1 d-none d-sm-inline">Asiento Contable</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#" id="aNewAsiento"><i class="fas fa-book fa-lg"></i> Nueva Asiento</a></li>
                    <li><a class="dropdown-item" href="#" id="aRegAsiento"><i class="fa-solid fa-table-cells"></i> Registros</a></li>
                </ul>
            </li>



            <li class="nav-item">
                <a href="#" class="nav-link text-truncate" id="aAuxiliar">
                    <i class="fa-solid fa-list-check fa-lg"  href="#"></i><span class="ms-1 d-none d-sm-inline">Auxiliar Cuenta</span>
                </a>
            </li>
     

            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-building-columns fa-lg"></i><span class="ms-1 d-none d-sm-inline">Operaciones Bancarias</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#" id="aNewTransferenciaCuenta"><i class="fa-solid fa-money-bill-transfer fa-lg"></i> Nueva Transferencia (C)</a></li>
                    <li><a class="dropdown-item" href="#" id="aNewTransferenciaSaldo"><i class="fa-solid fa-money-bill-trend-up fa-lg"></i> Nueva Transferencia (S)</a></li>
                    <li><a class="dropdown-item" href="#" id="aRegTransferencia"><i class="fa-solid fa-table-cells"></i> Registros Transferencia</a></li>
                    <li><a class="dropdown-item" href="#" id="aNewCheque"><i class="fa-solid fa-money-check"></i> Nuevo Cheque (C)</a></li>
                    <li><a class="dropdown-item" href="#" id="aNewChequeSaldo"><i class="fa-solid fa-money-check-dollar"></i> Nuevo Cheque (S)</a></li>
                    <li><a class="dropdown-item" href="#" id="aRegCheques"><i class="fa-solid fa-table-list"></i> Registros Cheques</a></li>
                </ul>
            </li>

    
    
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-gear fa-lg"></i><span class="ms-1 d-none d-sm-inline">Usuario</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-screwdriver-wrench"></i> Configuración</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#" id="aSalir"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="contenedor-imagen">
    <img  src="../assets/images/LOGO_NAV.png">
</div>

<div class="p-1 contenedor">
   
    
    <!-- toggler -->
    <button class="btn float-end contenedor-boton " data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button" id="btnMenu">
        <i class="fa-solid fa-bars fa-2xl  fa-beat-fade" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
        <!--<i class="bi bi-arrow-right-square-fill fs-3 i-sidebar fa-beat-fade" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>-->
    </button>
    
    <div class="DynamicFrom" DynamicFrom="">

    
    </div>

</div>





