<div class="offcanvas offcanvas-start w-25 side-width" tabindex="-1" id="offcanvas" data-bs-keyboard="true" 
    data-bs-backdrop="true" >
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">

            <li class="nav-item">
                <a href="#" id="aNewInicio" class="nav-link text-truncate">
                    <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Inicio</span>
                </a>
            </li>


              
            <ng-container *ngFor="let item of Menu(); let i = index">


                <li class="dropdown" *ngIf="item.EsMenu">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="{{item.Id}}" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="{{item.Clase}}"></i><span class="ms-1  d-sm-inline">{{item.Caption}}</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown" class="dropdown-menu">
                        <li *ngFor="let subItem of SubMenu(item.Id);"><a class="dropdown-item" href="#" id="{{(subItem.Id)}}"><i class="{{subItem.Clase}}"></i> {{subItem.Caption}}</a></li>
                    </ul>
                </li>

                

      
  
                <li class="nav-item" *ngIf="!item.EsMenu">

                    <a href="#" class="nav-link text-truncate" id="{{item.Id}}">
                        <i class="{{item.Clase}}"></i> {{item.Caption}}
                    </a>

    
                </li>
        
     


            
  
              </ng-container>

              

     





    
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-gear fa-lg"></i><span class="ms-1 d-none d-sm-inline">Usuario</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-screwdriver-wrench"></i> Configuración</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#" id="aSalir"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="contenedor-imagen">
    <img  src="../assets/images/LOGO_NAV.png">
</div>

<div class="p-1 contenedor">
   
    
    <!-- toggler -->
    <button class="btn float-end contenedor-boton " data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button" id="btnMenu">
        <i class="fa-solid fa-list fa-2xl  fa-beat-fade" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
        <!--<i class="bi bi-arrow-right-square-fill fs-3 i-sidebar fa-beat-fade" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>-->
    </button>
    
    <div class="DynamicFrom" DynamicFrom="">

    
    </div>

</div>





