@import "/src/assets/scss/media.scss";






#frmError{
    max-width: 400px;
    padding: 5px;
    box-shadow: 3px 4px 14px 6px rgba(0, 0, 0, 0.76);
}

.msj{

    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;

}

.logo{
    width: 220px;
    height: 60px;
}

