@import "/src/assets/scss/media.scss";

.app-transferencia-cuenta{
    position: relative;
    top:-60px;
    height: 100vh;
}

.contenedor-padre{
    margin-bottom: 450px;
}
.contenedor-transferencia{
    background-color: var(--escan-fondo);
    
}

.Contenedor-offcanvas{
    position: relative;
    text-align: right;
}



.concepto {

    textarea {
        height: 170px;

    }

}


.card-escasan-header{
    
    div{
     display: inline-block;
    }
 
 
     div:first-child{
         color: var(--escan-fondo);
         width: 80%;
     }
 
     div:last-child{
         color: var(--escan-fondo);
         width: 20%;
     }
 }
 

  

//████████████████████████████████████████████TABLA████████████████████████████████████████████████████████████████████████

.numero {
    text-align: right;
}

.header,
.header-cell {
    background-color: var(--escan-primario);
    padding: 5px;

    span {
        color: var(--escan-fondo);
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;
    }
}

.header {

    @include Tamano_Menor(lg) {
        display: none;
    }


}

.contenedor-tabla {
    margin-bottom: 250px;


    table {

        textarea {
            height: 31px;
        }

        .header-cell {

            display: none;

            @include Tamano_Menor(lg) {
                display: initial;
                text-align: center;
                background-color: var(--escan-fondo);

                span {
                    color: var(--escan-opcional);
                }

            }

        }

    }
}




//████████████████████████████████████████████PIE████████████████████████████████████████████████████████████████████████


.offcanvas-bottom{
    
    width: 100%;
    height: 300px;



    

    @include Tamano(md) {
        height: 220px;
    }


    @include Tamano(lg) {
        height: 180px;
    }




}


.contenedor-pie {
    position: relative;
    
}

.pie-transferencia {
    /*position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;*/
    z-index: 2;
    background-color: var(--escan-fondo);
    padding: 10px;

    .totales,
    .botones{
        margin-right: 20px;
        padding-right: 10px;
    }
 

    .totales {

        width: 100%;
        text-align: right;


        .debito {
            width: 60%;
        }

        .credito {
            width: 20%;
        }

        .diferencia {
            width: 20%;
        }


        .valores {
            background-color: var(--escan-opcional);
            color: var(--escan-fondo);
        }

        .valores.dif{
            background-color: var(--escan-primario);
        }

        .etiqueta,
        .valores {
            display: inline-block;
            width: 250px;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 1.1em;
            padding: 5px;
        }

        
        .etiqueta {
            width: 30%;
        }


        .valores {
            width: 70%;
        }


    }

    .botones {

        position: relative;
        width: 100%;


        div {
            text-align: left;
            width: 50%;
            display: inline-block;
        }



        div:last-child {
            text-align: right;
            position: flex;
            right: 0;
            bottom: 0;
        }

        .botones-edicion{
            margin-top: 5px;
            button:last-child{
                margin-left: 20px;
            }

        }

        

        @include Tamano_Menor(lg) {


            div {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
    

            div:first-child{

                button{
                    width: 100%;
                }
               
            }
        
        }


    }



}




.btn-contenedor-custom {
    display: flex;
    justify-content: flex-end;
}