<div class="container">
    
  
    <div class="card">
        <div class="card-header card-escasan-header-opcional"> titulo</div>
        <div class="card-body">

            <div class="row linea">

                <div class="col-12 col-md-12 col-lg-6 mb-1">
                    <div  class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-house fa-lg"></i></span>
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-6 mb-1">
                    <div  class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-house fa-lg"></i></span>
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mb-1">

                <div  class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-house fa-lg"></i></span>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>








<div class="container">
    <div class="ror">
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Id Ejercicio</span>
                    <input type="text" class="form-control" placeholder="Id Ejercicio" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Ejercicio Fiscal</span>
                    <input type="text" class="form-control" placeholder="Id Ejercicio" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Fecha Inicial</span>
                    <input type="date" class="form-control" placeholder="Id Ejercicio" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Fecha Final</span>
                    <input type="date" class="form-control" placeholder="Id Ejercicio" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Clases Periodos</span>
                    <input type="text" class="form-control" placeholder="Id Ejercicio" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">No. Periodos</span>
                    <input type="text" class="form-control" placeholder="Id Ejercicio" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Cta. Acumulada</span>
                    <input type="text" class="form-control" placeholder="Id Ejercicio" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Cta. Periodo</span>
                    <input type="text" class="form-control" placeholder="Id Ejercicio" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
                    <button class="btn btn-opcional" type="button">Ver periodos</button>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
</div>