@import "/src/assets/scss/media.scss";

.checkboxFont-size {
    font-size: 1.5em !important;
}
.bloqueada {

    display: flex;
    justify-content: left;
}

.contenedor{
    text-align: center;

    label{
        font-weight: bold;
        display: block;
        margin-bottom: 2px;
    }
}

.btn-contenedor{
    display: flex;
    justify-content: space-between;


    .btn-primario{
        margin-right: 10px;
    }

   
 }