@use "/src/assets/scss/media.scss" as *;

.form-check-label {
    font-size: 1.2em;
    font-weight: bold;
}

.form-check-input {
  transform: scale(1.9);
  cursor: pointer;
  margin-top: 15%;
}
.contenedor-filtro {
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    background-color: var(--escan-fondo);

    p {

        font-weight: bold;
        font-size: 1.5em;
    }


    .contenedor-boton{
        text-align: right;
    }


    
@include Tamano_Menor(lg) {

    button{
        width: 100%;
    }
    
}
}
