<div class="contenedor-transferencia">

    <div class="escasan-dialog" *ngIf="esModal">
        <div class="btn-contenedor-custom">
            <button class="close-button custom-cerrar" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
        </div>
    </div>

    <form autocomplete="off" [formGroup]="val.ValForm">


        <div class="card">
            <div class="card-header card-escasan-header opcional">Transferencia Bancaria</div>
            <div class="card-body">
                <div class="row linea-bottom-primario">

                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-1">
                        <igx-combo #cmbCuentaBancaria [data]="lstCuentabancaria" valueKey="IdCuentaBanco"
                            displayKey="DisplayKey" id="cmbCuentaBancaria" formControlName="cmbCuentaBancaria"
                            placeholder="No Cuenta" searchPlaceholder="Seleccione una serie..." [autoFocusSearch]="true"
                            [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_CuentaBanco($event)"
                            (keyup)="v_Enter_CuentaBanco($event);">
                            <label igxLabel>Cuenta Bancaria</label>
                            <igx-prefix><i class="fas fa-list fa-lg"></i></igx-prefix>
                        </igx-combo>
                    </div>


                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-1">

                        <igx-combo #cmbCentroCosto [data]="lstCentroCosto" valueKey="Codigo"
                        displayKey="CentroCosto" id="cmbCentroCosto" formControlName="cmbCentroCosto"
                        placeholder="Centro Costo" searchPlaceholder="Seleccione un centro costo..." [autoFocusSearch]="true"
                        [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_CentroCosto($event)"
                        (keyup)="v_Enter_CentroCosto($event);">
                        <label igxLabel>Centro Costo</label>
                        <igx-prefix><i class="fas fa-list fa-lg"></i></igx-prefix>
                    </igx-combo>
                        
                    </div>

                    <div class="col-12 col-sm-12 col-md-4 col-lg-2 mb-1">
                        <div class="input-group">

                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Nombre Cuenta" id="txtNombreCuenta"
                                    formControlName="txtNombreCuenta">
                                <label for="txtNombreCuenta">Nombre Cuenta</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-2 mb-1">
                        <div class="input-group">

                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Banco" id="txtBanco"
                                    formControlName="txtBanco">
                                <label for="txtBanco">Banco</label>
                            </div>

                        </div>
                    </div>

                  

                </div>

                <div class="row linea-bottom-secundario mt-2">

                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-1">

                        <igx-combo #cmbBodega [data]="lstBodega" valueKey="Codigo" displayKey="Bodega" id="cmbBodega"
                            formControlName="cmbBodega" placeholder="Bodega"
                            searchPlaceholder="Seleccione una bodega..." [autoFocusSearch]="true"
                            [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_Bodega($event)"
                            (keyup)="v_Enter_Bodega($event);">
                            <label igxLabel>Bodega</label>
                            <igx-prefix><i class="bi bi-shop fa-lg"></i></igx-prefix>
                        </igx-combo>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 mb-1">

                        <div class="input-group">
                            <span class="input-group-text secundario">No</span>
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="No" id="txtNoDoc"
                                    formControlName="txtNoDoc">
                                <label for="txtNoDoc">No</label>
                            </div>

                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-2  mb-1">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-money-bill-trend-up fa-lg"></i></span>
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="TC" id="TxtTC"
                                    formControlName="TxtTC"
                                    (change)="V_Calcular();">
                                <label for="TxtTC">TC</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-1">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                            <div class="form-floating">
                                <input type="date" id="txtFecha" class="form-control" placeholder="Fecha" max="9999-12-31"
                                    aria-label="Fecha" formControlName="txtFecha" (change)="V_TasaCambios();">
                                <label for="txtFecha">Fecha</label>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="row mt-2">

                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-8">

                                <div class="row">

                                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 mb-1">
                                        <igx-combo #cmbProveedor [data]="lstProveedor" valueKey="Codigo"
                                            displayKey="DisplayKey" id="cmbProveedor" formControlName="cmbProveedor"
                                            placeholder="Proveedor" searchPlaceholder="Seleccione una proveedor..."
                                            [autoFocusSearch]="true" [overlaySettings]="overlaySettings"
                                            (selectionChanging)="v_Select_Proveedor($event)"
                                            (keyup)="v_Enter_Proveedor($event);">
                                            <label igxLabel>Proveedor</label>
                                            <igx-prefix><i class="fa-solid fa-user-tie fa-lg"></i></igx-prefix>
                                        </igx-combo>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-1">
                                        <button type="button" class="btn btn-opcional" id="btn-Documentos-Proveedor"
                                            (click)="v_BuscarDocumentos();"><i
                                                class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg"></i>
                                            Documentos</button>
                                    </div>
                                </div>

                            </div>


                            <div class="col-12 col-sm-12 col-md-3 col-lg-4 mb-1">
                                <div class="input-group">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Beneficiario"
                                            id="txtMoneda" formControlName="txtMoneda">
                                        <label for="txtMoneda">Moneda</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12  mb-1">
                                <div class="concepto">
                                    <div class="form-floating">
                                        <textarea type="textarea" class="form-control" placeholder="Concepto"
                                            id="txtConcepto" formControlName="txtConcepto"></textarea>
                                        <label for="txtConcepto">Concepto</label>
                                    </div>
                                </div>

                            </div>

                        </div>



                    </div>

                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">

                        <div class="row">
                           

                            <div class="col-12 mb-1">

                                <div class="input-group">
                                    <span class="input-group-text">C$</span>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Total Cordoba"
                                            id="txtTotalCordoba" formControlName="txtTotalCordoba"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal');"
                                            (change)="v_ConvertirTotal($event);"
                                            (focusout)="v_FocusOut('txtTotalCordoba');">
                                        <label for="txtTotalCordoba">Total</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text">U$</span>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Total Dolar"
                                            id="txtTotalDolar" formControlName="txtTotalDolar"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal');"
                                            (change)="v_ConvertirTotal($event);"
                                            (focusout)="v_FocusOut('txtTotalDolar');">
                                        <label for="txtTotalDolar">Total</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12  mb-1">
                                <div class="input-group">
                                    <span class="input-group-text"><i
                                            class="fa-solid fa-money-bill-trend-up fa-lg"></i></span>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Comición" id="txtComision"
                                            formControlName="txtComision"
                                            (focusout)="v_FocusOut('txtComision');">
                                        <label for="txtComision">Comisión</label>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>

                </div>


            </div>
        </div>


    </form>
</div>







<div class="contenedor-transferencia mt-2">


    <div class="row">
        <div class="col-6 mb-1 orderby-mobile">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                <div class="form-floating">
                    <select class="form-select form-select-lg" aria-label="Columna" id="cmbColumna" (change)="V_Ordenar_ColumnaCombo();">
                        <option *ngFor="let item of orderby" value="{{item.Columna}}" >{{item.Columna}}</option>
                    </select>
                    <label for="cmbColumna">Ordenar</label>
                </div>
            </div>
        </div>

        <div class="col-6 mb-1 orderby-mobile">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                <div class="form-floating">
                    <select class="form-select form-select-lg" aria-label="Direccion" (change)="V_Ordenar_ColumnaCombo();" id="cmbDireccion">
                        <option  value="ASC">ASC</option>
                        <option  value="DESC">DESC</option>
                    </select>
                    <label for="cmbDireccion">Dirección</label>
                </div>
            </div>
        </div>
    </div>
    
  

    <div class="row g-1 header">


        <div class="col-8 col-lg-1 center"><span (click)="V_Ordenar_Columna('Operacion');">Operacion <i *ngIf="orderby[0].Direccion != ''"  [ngClass]="orderby[0].Direccion == 'ASC' ?   'fa-solid fa-arrow-up fa-2xs' : 'fa-solid fa-arrow-down fa-2xs'"></i></span></div>
        <div class="col-8 col-lg-1 center"><span (click)="V_Ordenar_Columna('TipoDocumento');">Tipo Documento <i *ngIf="orderby[1].Direccion != ''"  [ngClass]="orderby[1].Direccion == 'ASC' ? 'fa-solid fa-arrow-up fa-2xs' : 'fa-solid fa-arrow-down fa-2xs'"></i></span></div>

        <div class="col-12 col-lg-2 center" (click)="V_Ordenar_Columna('Documento');"><span>Documento <i *ngIf="orderby[2].Direccion != ''"  [ngClass]="orderby[2].Direccion == 'ASC' ? 'fa-solid fa-arrow-up fa-2xs' : 'fa-solid fa-arrow-down fa-2xs'"></i></span></div>

        <div class="col-12 col-lg-2 center" (click)="V_Ordenar_Columna('Fecha');"><span>Fecha <i *ngIf="orderby[3].Direccion != ''"  [ngClass]="orderby[3].Direccion == 'ASC' ? 'fa-solid fa-arrow-up fa-2xs' : 'fa-solid fa-arrow-down fa-2xs'"></i></span></div>

        <div class="col-6 col-lg-2  numero" ><span>Saldo</span></div>

        <div class="col-6 col-lg-2 numero"><span>Importe</span></div>

        <div class="col-6 col-lg-2 numero"><span>Nuevo Saldo</span></div>

    </div>


    <div class="mat-elevation-z8 contenedor-tabla">
        <table class="table table-hover  table-sm tabla-layout mat-elevation-z8" mat-table [dataSource]="lstDetalle">



            <ng-container matColumnDef="col1">
                <td mat-cell *matCellDef="let det">
                    <div class="row">

                        <div class="col-6 col-lg-1">
                            <div class="row">
                                <div class="header-cell"><span>Operacion</span></div>
                            </div>
                            <div class="row">

                                <form autocomplete="off">
                                    <input type="text" class="form-control center blue blod"
                                        id="txtOperacion{{det.Index}}" [ngModelOptions]="{standalone: true}"
                                        [ngModel]="det.Operacion" disabled>
                                </form>

                            </div>



                        </div>



                        <div class="col-6 col-lg-1">
                            <div class="row">
                                <div class="header-cell"><span>Tipo Documento</span></div>
                            </div>
                            <div class="row">

                                <form autocomplete="off">
                                    <input type="text" class="form-control center" id="txtTipoDocumento{{det.Index}}"
                                        [ngModelOptions]="{standalone: true}" [ngModel]="det.TipoDocumento" disabled>
                                </form>

                            </div>



                        </div>



                        <div class="col-12 col-lg-2">
                            <div class="row">
                                <div class="header-cell"><span>Documento</span></div>
                            </div>
                            <div class="row">

                                <form autocomplete="off">
                                    <input type="text" class="form-control center" id="txtDocumento{{det.Index}}"
                                        [ngModelOptions]="{standalone: true}" [ngModel]="det.Documento" disabled>
                                </form>


                            </div>

                        </div>

                        <div class="col-6 col-lg-2">

                            <div class="row">
                                <div class="header-cell"><span>Fecha</span></div>
                            </div>
                            <div class="row">

                                <form autocomplete="off">
                                    <input type="text" class="form-control center" id="txtFecha{{det.Index}}"
                                        [ngModelOptions]="{standalone: true}" [ngModel]="det.Fecha |date:'dd MMM yyyy'"
                                        disabled>
                                </form>


                            </div>


                        </div>


                        <div class="col-6 col-lg-2">
                            <div class="row">
                                <div class="header-cell"><span>Saldo</span></div>
                            </div>
                            <div class="row">

                                <form autocomplete="off">
                                    <input type="text" class="form-control numero  secundario"
                                        id="txtSaldo{{det.Index}}" [ngModelOptions]="{standalone: true}"
                                        [ngModel]="det.Saldo" disabled>
                                </form>


                            </div>

                        </div>

                        <div class="col-6 col-lg-2">
                            <div class="row">
                                <div class="header-cell"><span>Importe</span></div>
                            </div>
                            <div class="row">

                                <form autocomplete="off">
                                    <input type="text" class="form-control numero importe" id="txtImporte{{det.Index}}"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="det.Importe"
                                        (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal');"
                                        (change)="V_Calcular();" autocomplete="off">
                                </form>


                            </div>

                        </div>


                        <div class="col-6 col-lg-2">
                            <div class="row">
                                <div class="header-cell"><span>Nuevo Saldo</span></div>
                            </div>
                            <div class="row">

                                <form autocomplete="off">
                                    <input type="text" class="form-control numero blue blod"
                                        id="txtNuevoSaldo{{det.Index}}" [ngModelOptions]="{standalone: true}"
                                        [ngModel]="(det.NuevoSaldo == det.Saldo? '': det.NuevoSaldo)" disabled>
                                </form>

                            </div>

                        </div>

                    </div>


                </td>
            </ng-container>









            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="linea-bottom-secundario dashed"></tr>


        </table>


    </div>

</div>




<div class="contenedor-pie">
    <div class="pie-transferencia">

        <div class="totales">

            <span class="diferencia"><span class="etiqueta">DIF:</span><span class="valores dif">{{dec_Dif | number :
                "1.2-2"}}</span></span>
                
            <span class="disponible"><span class="etiqueta">Disponible:</span><span class="valores">{{dec_Disponible |
                    number :
                    "1.2-2"}}</span></span>
            <span class="aplicado"><span class="etiqueta">Aplicado:</span><span class="valores">{{dec_Aplicado | number
                    : "1.2-2"}}</span></span>
          
        </div>

        <div class="botones">
            <div>
                <button type="button" class="btn btn-secundario" id="btnRefrescar-Transferencia"
                    (click)="v_CargarDatos();" *ngIf="!Anulado"><i class="fa-solid fa-arrows-rotate fa-spin fa-lg"></i>
                    Refrescar</button>
                <button type="button" class="btn btn-opcional" id="btn-Documentos-proveedor-Contabilizacion"
                    (click)="V_Mostrar_Asiento();"><i class="fa-solid fa-book fa-beat fa-lg"></i>
                    Contabilización</button>
            </div>


            <div class="botones-edicion">
                <button type="button" class="btn btn-primario" id="btnGuardar-Transferencia-Saldo" (click)="v_Guardar();" *ngIf="!Anulado"><i
                        class="fa-solid fa-floppy-disk fa-beat-fade fa-lg"></i>
                    Guardar</button>

                <button type="button" class="btn btn-opcional" id="btnCanclar-Asiento-saldo" (click)="v_Evento('Limpiar');"
                    [disabled]="esModal" *ngIf="!Anulado"><i class="fa-solid fa-arrow-left fa-beat fa-lg"></i> Cancelar</button>
            </div>
        </div>

    </div>
</div>