@use "/src/assets/scss/media.scss" as *;
#dialog-confirmar{
    width: 300px;
    max-width: 400px;
    padding: 5px;
    box-shadow: 3px 4px 14px 6px rgba(0, 0, 0, 0.76);
}

/*
.msj{

    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;

}*/

.msj{
    float: right;
    display: flex;
    align-items: center;
    word-break:break-all;
    margin: 0 0 1em 1em;
}


::ng-deep {
    
    ol, ul{
        padding-left: 10px;
    }
    
    .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content{
        padding-left: 5px;
        padding-right: 5px ;
    }
    
}



.bold{
    font-weight: bold;
    color: black,
}

.logo{
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 10px;
}

img{
   
    width:220px;
    height:60px;
}
button{
    width: 100px;
}

button:first-child{
    margin-right: 25px;
}


  
.btn-contenedor-cerrar{
    background-color: var(--escan-primario);
    font-size: 1em;
    padding: 5px;
    text-align: right;


    button{
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        width: auto;
      }
    
  }
 
