<div class="escasan-dialog" id="dialog-confirmar">

    <div class="logo">
        <img   src="../assets/images/LOGO_NAV.png">
      </div>


    <div mat-dialog-content>
        <div class="msj" [innerHTML]="mensaje"></div>
    </div>
    
    <div mat-dialog-actions class="btn-contenedor">
        <button type="button" class="btn btn-primario" id="btn-confirmar-1-escasan-dialog" (click)="v_Confirmar();">{{textBoton1}}</button>
        <button type="button" class="btn btn-opcional" id="btn-confirmar-2-escasan-dialog"  (click)="v_Cancelar();">{{textBoton2}}</button>
    </div>
    
</div>


