  
  form{
    padding: 10px;
  }

  p{
    text-align: center;
    font-weight: bold;
  }
  
  
  .linea-top {
    border-top: 2px solid var(--escan-secundario);
  }

  button:first-child{
    margin-right: 15px;
  }

  #txtMotivo{
    height: 150px;
  }
  