<div class="escasan-dialog" if="dialog-input">

    <div class="btn-contenedor-cerrar">
        @if(MostrarCerrar)
        {
            <button  class="close-button custom-cerrar" (click)="V_Cerrar();">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
              </button>
        }
       
      </div>


    <div class="logo">
        <img   src="../assets/images/ISOLOGO.png">
      </div>
  


    <div mat-dialog-content>

        <div class="msj" [innerHTML]="mensaje" id="msj-confirmar"></div>

        <form autocomplete="off" [formGroup]="val.ValForm">
                 
        <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-unlock fa-lg"></i></span>
            <div class="form-floating">
                
                <input type="text" class="form-control" placeholder="{{placeholder}}" [(ngModel)]="value"
                     id="txtInput-dialog" formControlName="txtInput-dialog">
                <label for="txtInput-dialog">{{label}}</label>
            </div>
        </div>   
        </form>
        
       
    </div>
    
    <div mat-dialog-actions class="btn-contenedor">
        <button type="button" class="btn btn-primario" id="btn-confirmar-1-escasan-dialog" (click)="v_Confirmar();">{{textBoton1}}</button>
        <button type="button" class="btn btn-opcional" id="btn-confirmar-2-escasan-dialog"  (click)="v_Cancelar();">{{textBoton2}}</button>
    </div>
    
    
</div>



