@import "/src/assets/scss/media.scss";

.app-asiento-contable{
    position: relative;
    top:-60px;
    height: 100vh;
}

.contenedor-asiento{
    margin-bottom: 450px;
}


.Contenedor-offcanvas{
    position: relative;
    text-align: right;
}


.observaciones {

    textarea {
        height: 120px;

    }


}

.card-escasan-header{
    
   div{
    display: inline-block;
   }


    div:first-child{
        color: var(--escan-fondo);
        width: 80%;
    }

    div:last-child{
        color: var(--escan-fondo);
        width: 20%;
    }
}


//████████████████████████████████████████████TABLA████████████████████████████████████████████████████████████████████████

.numero {
    text-align: right;
}

.header,
.header-cell {
    background-color: var(--escan-primario);
    padding: 5px;

    span {
        color: var(--escan-fondo);
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;
    }
}

.header {

    @include Tamano_Menor(lg) {
        display: none;
    }


}

.contenedor-tabla {
    margin-bottom: 100px;


    table {

        textarea {
            height: 31px;
        }

        .header-cell {

            display: none;

            @include Tamano_Menor(lg) {
                display: initial;
                text-align: center;
                background-color: var(--escan-fondo);

                span {
                    color: var(--escan-opcional);
                }

            }

        }

    }
}




//████████████████████████████████████████████PIE████████████████████████████████████████████████████████████████████████

.contenedor-pie {
    position: relative;
    
}


.offcanvas-bottom{
    
    width: 100%;
    height: 375px;



    

    @include Tamano(md) {
        height: 255px;
    }


    @include Tamano(lg) {
        height: 220px;
    }




}

.pie-asiento {
    /*position: fixed;
    bottom: 0;
    left: 0;
    width: 100vh;*/
    z-index: 5;
    background-color: var(--escan-fondo);
    padding: 10px;
 
    .botones{
        margin-right: 10px;
        padding-right: 10px;
    }

    .totales {

        width: 100%;
        text-align: right;
        padding-right: 10px;

    

        .debito,
        .credito,
        .diferencia {
            width: 100%;
        }



        .etiqueta{
            width: 30%;
        }

        .valores {
            background-color: var(--escan-opcional);
            color: var(--escan-fondo);
            width: 70%;
        }

        .valores.dif{
            background-color: var(--escan-primario);
            width: 70%;
        }

        .etiqueta,
        .valores {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 1.1em;
            padding: 5px;
        }

      

    }

    .botones {

        position: relative;
        width: 100%;


        div {
            text-align: left;
            width: 50%;
            display: inline-block;
        }



        div:last-child {
            text-align: right;
            position: flex;
            right: 0;
            bottom: 0;
        }

        .botones-edicion{

            margin-top: 5px;
            button:last-child{
                margin-left: 20px;
            }

        }

        

        @include Tamano_Menor(md) {


            div {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
    

            div:first-child{

                button{
                    width: 100%;
                }
               
            }
        
        }


    }



}




.btn-contenedor-custom {
    display: flex;
    justify-content: flex-end;
}