<div class="contenedor-asiento mb-1">
    <div class="escasan-dialog" *ngIf="esModal">
        <div class="btn-contenedor-custom">
            <button mat-button class="close-button custom-cerrar" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
        </div>
    </div>


    <form autocomplete="off" [formGroup]="val.ValForm">
        <div class="card">
            <div class="card-header card-escasan-header opcional">

                <div>
                    Asiento Contable
                </div>

                <div>
                    <button class="btn btn-primario" type="button" data-bs-toggle="offcanvas" id="btnMostrarPie-asiento"
                        data-bs-target="#offcanvasBottom-asiento" aria-controls="offcanvasBottom-asiento"><i class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                         Totales</button>
                </div>
            </div>
            <div class="card-body">

                <div class="row linea-bottom-opcional g-1">

                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 col-xxl-2 mb-1">

                        <igx-combo #cmbSerie [data]="lstSerie" id="cmbSerie" formControlName="cmbSerie"
                            valueKey="IdSerie" displayKey="DescripcionSerie" placeholder="Serie"
                            searchPlaceholder="Seleccione una serie..." [autoFocusSearch]="true"
                            [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_Serie($event)"
                            (keyup)="v_Enter_Serie($event);">
                            <label igxLabel>Serie</label>


                            <ng-template igxComboItem let-display let-key="valueKey">
                                <div class="item">
                                    <span>{{ display[key] }} --> {{ display.DescripcionSerie }}</span>
                                </div>
                            </ng-template>


                            <igx-prefix><i class="fas fa-list fa-lg"></i></igx-prefix>
                        </igx-combo>




                    </div>

                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mb-1">

                        <div class="input-group">
                            <span class="input-group-text secundario">Asiento</span>
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="No" id="txtNoAsiento"
                                    formControlName="txtNoAsiento">
                                <label for="txtNoAsiento">No</label>
                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 col-xxl-4 offset-xxl-1">
                        <igx-combo #cmbBodega [data]="lstBodega" valueKey="Codigo" displayKey="Bodega"
                            id="txtBodega-asiento" formControlName="txtBodega-asiento" placeholder="Bodega"
                            searchPlaceholder="Seleccione una bodega..." [autoFocusSearch]="true"
                            [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_Bodega($event)"
                            (keyup)="v_Enter_Bodega($event);">
                            <label igxLabel>Bodega</label>
                            <igx-prefix><i class="bi bi-shop fa-lg"></i></igx-prefix>
                        </igx-combo>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 col-xxl-2 mb-1">

                        <div class="form-group">
                            <div class="form-time-picker">
                                <igx-date-picker #datepiker formControlName="txtFecha" id="txtFecha"
                                    [inputFormat]="'dd/MM/yyyy'" (valueChange)="V_TasaCambios();">
                                    <label igxLabel>Fecha</label>

                                    <igx-picker-toggle igxPrefix>
                                        <igx-icon igxPrefix><i class="bi bi-calendar primario"></i></igx-icon>
                                    </igx-picker-toggle>

                                    <igx-picker-clear igxSuffix>
                                        <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                                    </igx-picker-clear>

                                </igx-date-picker>
                            </div>
                        </div>



                    </div>


                </div>


                <div class="row mt-2 g-1">

                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-1">

                        <div class="row">
                            <div class="col-12 mb-1">
                                <div class="input-group">

                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Referencia"
                                            id="txtReferenciaDoc" formControlName="txtReferenciaDoc">
                                        <label for="txtReferenciaDoc">Referencia</label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12">

                                <div class="row">

                                    <div class="col-12 col-md-12 col-lg-6 mb-1">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                                            <div class="form-floating">
                                                <select class="form-select form-select-lg" aria-label="Moneda"
                                                    id="cmbMoneda" formControlName="cmbMoneda">
                                                    <option value="COR">Cordoba</option>
                                                    <option value="DOL">Dolar</option>
                                                </select>
                                                <label for="cmbMoneda">Moneda</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-12 col-lg-6 mb-1">
                                        <div class="input-group">
                                            <span class="input-group-text"><i
                                                    class="fa-solid fa-money-bill-trend-up fa-lg"></i></span>
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="TC" id="TxtTC"
                                                    formControlName="TxtTC">
                                                <label for="TxtTC">TC</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>



                    </div>

                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-8 mb-1">
                        <div class="observaciones">
                            <div class="form-floating">
                                <textarea type="textarea" class="form-control" placeholder="Observaciones"
                                    id="txtObservaciones" formControlName="txtObservaciones"></textarea>
                                <label for="txtObservaciones">Observaciones</label>
                            </div>
                        </div>



                    </div>


                </div>




            </div>
        </div>
    </form>


</div>

<div class="contenedor-asiento">
    <div class="row g-1 header">


        <div class="col-8 col-lg-4"><span>Cuenta</span></div>


        <div class="col-12 col-lg-2"><span>Referencia</span></div>

        <div class="col-12 col-lg-2"><span>Centro Costo</span></div>

        <div class="col-6 col-lg-2 numero"><span>Débito</span></div>


        <div class="col-6 col-lg-2 numero"><span>Crédito</span></div>

    </div>

    <form autocomplete="off">
        <div class="mat-elevation-z8 contenedor-tabla">
            <table class="table table-hover  table-sm tabla-layout mat-elevation-z8" mat-table
                [dataSource]="lstDetalle">



                <ng-container matColumnDef="col1">
                    <td mat-cell *matCellDef="let det" (contextmenu)="V_Popup($event, det)">
                        <div class="row">

                            <div class="col-12 col-lg-4">
                                <div class="row">
                                    <div class="header-cell"><span>Cuenta</span></div>
                                </div>
                                <div class="row">




                                    <igx-combo [data]="lstCuenta" [(ngModel)]="det.CuentaContable"
                                        valueKey="CuentaContable" displayKey="NombreCuenta"
                                        id="txtCuenta-asiento{{det.NoLinea}}" [ngModelOptions]="{standalone: true}"
                                        [autoFocusSearch]="true" [overlaySettings]="overlaySettings"
                                        (selectionChanging)="v_Select_Cuenta($event, det)"
                                        (keyup)="v_Enter_Cuenta($event, det);">

                                    </igx-combo>



                                </div>



                            </div>



                            <div class="col-12 col-lg-2">
                                <div class="row">
                                    <div class="header-cell"><span>Referencia</span></div>
                                </div>
                                <div class="row">


                                    <div>
                                        <input type="text" class="form-control" id="txtReferencia{{det.NoLinea}}"
                                            [(ngModel)]="det.Referencia" [ngModelOptions]="{standalone: true}">
                                    </div>



                                </div>

                            </div>

                            <div class="col-12 col-lg-2">
                                <div class="row">
                                    <div class="header-cell"><span>Centro Costo</span></div>
                                </div>
                                <div class="row">



                                    <igx-combo [data]="lstCentroCosto" [(ngModel)]="det.CentroCosto" valueKey="Codigo"
                                        displayKey="CentroCosto" id="txtCentroCosto{{det.NoLinea}}"
                                        [ngModelOptions]="{standalone: true}" [autoFocusSearch]="true"
                                        [overlaySettings]="overlaySettings"
                                        (selectionChanging)="v_Select_CentroCosto($event, det)"
                                        (keyup)="v_Enter_CentroCosto($event, det);">

                                    </igx-combo>

                                </div>

                            </div>

                            <div class="col-6 col-lg-2">

                                <div class="row">
                                    <div class="header-cell"><span>Débito</span></div>
                                </div>
                                <div class="row">

                                    <div>
                                        <input type="text" class="form-control numero" id="txtDebito{{det.NoLinea}}"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="det.Debito"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal')"
                                            (keydown.Enter)="V_Focus('txtDebito', det);"
                                            (focusout)="V_FocusOut('txtDebito', det);" (change)="V_Calcular();"
                                            autocomplete="off">
                                    </div>




                                </div>


                            </div>


                            <div class="col-6 col-lg-2">
                                <div class="row">
                                    <div class="header-cell"><span>Crédito</span></div>
                                </div>

                                <div class="row">

                                    <div>
                                        <input type="text" class="form-control numero" id="txtCredito{{det.NoLinea}}"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="det.Credito"
                                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal');"
                                            (keydown.Enter)="V_Focus('NuevaFila', det);"
                                            (focusout)="V_FocusOut('txtCredito', det);" (change)="V_Calcular();"
                                            autocomplete="off">

                                    </div>




                                </div>

                            </div>

                        </div>


                    </td>
                </ng-container>









                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="linea-bottom-secundario dashed">
                </tr>


            </table>

            <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
            </div>
            <mat-menu #contextMenu="matMenu" #contextMenu2="matMenu">
                <ng-template matMenuContent let-item="item">
                    <button mat-menu-item (click)="V_Agregar()" [disabled]="!Editar"><i
                            class="fas fa-plus fa-lg"></i>Agregar</button>
                    <button mat-menu-item (click)="V_Eliminar(item)" *ngIf="lstDetalle.data.length > 1"
                        [disabled]="!Editar"><i class="fas fa-eraser fa-lg"></i>Eliminar</button>
                </ng-template>
            </mat-menu>
        </div>

    </form>

</div>




<div class="offcanvas offcanvas-bottom" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="false"  id="offcanvasBottom-asiento" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <div class="contenedor-pie">
            <div class="pie-asiento">

                <div class="row">

                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">

                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>

                            <div class="form-floating">
                                <input type="text" id="txtBuscar-Cuenta" class="form-control" placeholder="Buscar"
                                    aria-label="Buscar" (keyup)="v_Filtrar($event)">
                                <label for="txtBuscar-Cuenta">Buscar</label>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">

                        <div class="totales">
                            <span class="diferencia"><span class="etiqueta">DIF:</span><span
                                    class="valores dif">{{dec_Dif | number :
                                    "1.2-2"}}</span></span>

                        </div>

                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">

                        <div class="totales">

                            <span>
                                <span class="debito"><span class="etiqueta">Débito:</span><span
                                        class="valores">{{dec_TotalDebe | number :
                                        "1.2-2"}}</span></span>
                            </span>


                        </div>

                    </div>


                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">

                        <div class="totales">

                            <span>
                                <span class="credito"><span class="etiqueta">Crédito:</span><span
                                        class="valores">{{dec_TotalHaber | number
                                        : "1.2-2"}}</span></span>
                            </span>


                        </div>

                    </div>





                </div>


                <div class="botones" *ngIf="Editar">
                    <div *ngIf="!(['Anulado', 'Autorizado']).includes(Estado)">
                        <button type="button" class="btn btn-secundario" id="btnRefrescar-Asiento"
                            (click)="v_CargarDatos();"><i class="fa-solid fa-arrows-rotate fa-spin fa-lg"></i>
                            Refrescar</button>
                    </div>

                    <div class="botones-edicion" *ngIf="!(['Anulado', 'Autorizado']).includes(Estado)">
                        <button type="button" class="btn btn-primario" id="btnGuardar-Asiento" (click)="v_Guardar();"><i
                                class="fa-solid fa-floppy-disk fa-beat-fade fa-lg"></i>
                            Guardar</button>

                        <button type="button" class="btn btn-opcional" id="btnCanclar-Asiento"
                            (click)="v_Evento('Limpiar');" [disabled]="esModal"><i
                                class="fa-solid fa-arrow-left fa-beat fa-lg"></i> Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>