@import "/src/assets/scss/media.scss";




.observaciones {

    textarea{
        height: 120px;
            
    }

    
  }


 //████████████████████████████████████████████TABLA████████████████████████████████████████████████████████████████████████

 .numero{
    text-align:right;
}
.header,
.header-cell
{
    background-color: var(--escan-primario);
    padding: 5px;
    span{
        color: var(--escan-fondo);
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;
    }
}

 .header{

    @include Tamano_Menor(lg) {
        display: none;
     }
   
    
 }

  .contenedor-tabla{
    margin-bottom: 100px;


    table{

        textarea{
            height: 31px;
        }

        .header-cell{

            display: none;

            @include Tamano_Menor(lg) {
                display: initial;
                text-align: center;
                background-color: var(--escan-fondo);
                span{
                    color: var(--escan-opcional);
                }
                
             }

        }
      
    }
}




 //████████████████████████████████████████████PIE████████████████████████████████████████████████████████████████████████

 .contenedor-pie{
    position: relative;
 }
 .pie-asiento{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background-color: var(--escan-fondo);
    padding: 10px;
   
    .totales{
        background-color: aqua;
        width: 100vw;
  
    }

    .botones{

        position: relative;
        width: 100vw;
        

        div{
            text-align: left;
            width: 50%;
            display: inline-block;
        }



        div:last-child{
            text-align: right;
            position: flex;
            right: 0;
            bottom:0;

 
            button{
                margin-right: 20px;
            }

     
      

        }
        
        
    
     }

    

 }

