
#frmlogin{
    background-color: var(--escan-primario);
}

#frmlogin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin {
  background-color: var(--escan-fondo);
  box-shadow: 3px 4px 14px 6px rgba(0, 0, 0, 0.76);
  border: 5px solid var(--escan-primario);
  color: var(--escan-primario);
  text-align: center;
  min-width: 350px;
  max-width: 450px;
}

.form-signin {
    border-radius: 20px;
  }

  
.form-signin input {
  color: var(--escan-opcional);
  //font-family: "SavingsBond";
  text-align: center;
}

button {
  height: 60px;
}

input{
    color: var(--escan-primario);
   // font-family: 'SavingsBond';
    text-align: center;
  }

.logo-login{
  padding-top: 40px;
  padding-bottom: 40px;
}

  
p {
  margin: 0;
  color: var(--escan-secundario);
  font-size: 1em;
  text-align: center;
}