@import "/src/assets/scss/media.scss";


.contenedor-transferencia{
    background-color: var(--escan-fondo);
}


.concepto {

    textarea {
        height: 120px;

    }

}


.anulado {

    display: flex;
    justify-content: center;
    
    
    .contenedor{
        text-align: center;

        label{
            font-weight: bold;
            display: block;
            margin-bottom: 2px;
        }
    }

    
  @include Tamano_Menor(lg) {
    justify-content: right;
  }
   
  }