@use "/src/assets/scss/media.scss" as *;



#frmError{
    max-width: 400px;
    padding: 5px;
    box-shadow: 3px 4px 14px 6px rgba(0, 0, 0, 0.76);
}
/*
.msj{

    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;

}*/

.msj{
    float: right;
    display: flex;
    align-items: center;
    word-break:break-all;
    text-align: justify;
    margin: 0 0 0 0;
}


::ng-deep {
    
    .contenedor-validador{
        padding-left: 5px;
        ol, ul{
            padding-left: 10px;
        }
    }
    
    .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content{
        padding-left: 5px;
        padding-right: 5px ;
    }
    
}

.bold{
    font-weight: bold;
    color: black,
}

.logo{
    display: flex;
    justify-content:center;
    width: 100%;
}

img{
   
    width:220px;
    height:60px;
}