<div class="escasan-dialog" id="frmError">
    <div class="btn-contenedor">
      <button  class="close-button custom-cerrar" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    </div>

    <div class="logo">
      <img   src="../assets/images/LOGO_NAV.png">
    </div>
   
  
      <div mat-dialog-content>
   
        <div class="msj" [innerHTML]="str_Error"></div>

      </div>
      <div mat-dialog-actions class="btn-contenedor">
        <button type="button" class="btn btn-secundario" (click)="dialogRef.close();">Cerrar</button>
      </div>
  </div>
  