@use "igniteui-angular/theming" as *;
// Uncomment the following lines if you want to add a custom palette:
//$primary: #009d43 !default;
//$secondary: #ff4500 !default;
//$surface: white !default;
//$search-separator-border-color: #1a5214;
//$app-palette: palette($primary, $secondary, $surface, $search-separator-border-color);


/* autoprefixer grid: on */

@include core();
@include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);
// CSS Reset, comment out if not required or using a different module
@import 'minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */

$custom-combo-theme: combo-theme($search-separator-border-color: var(--escan-primario),

    );

$custom-checkbox-theme: checkbox-theme($border-radius: 10px,
        $fill-color: var(--escan-primario),
        $empty-color: var(--escan-primario),
    );

$custom-drop-down-theme: drop-down-theme($background-color: #d9f5d6,
        $header-text-color: #1a5214,
        $item-text-color: black,

        $focused-item-background: #72da67,
        $focused-item-text-color: #1a5214,
        $hover-item-background: #a0e698,
        $hover-item-text-color: #1a5214,

        $selected-item-background: #a0e698,
        $selected-item-text-color: #1a5214,
        $selected-hover-item-background: #72da67,
        $selected-hover-item-text-color: var(--escan-fondo),
        $selected-focus-item-background: #72da67,
        $selected-focus-item-text-color: var(--escan-fondo),

    );


    $custom-datepicker-theme: calendar-theme($header-background: var(--escan-primario),
        $content-background: var(--escan-fondo),
        $date-selected-text-color: var(--escan-fondo),

        $date-selected-background: var(--escan-primario),


        $date-selected-hover-background: var(--escan-secundario),
        $date-selected-hover-foreground: var(--escan-fondo),
        $date-selected-focus-background: var(--escan-secundario),
        $date-selected-focus-foreground : var(--escan-fondo),

        $date-current-hover-background: var(--escan-secundario),
        $date-current-hover-foreground: var(--escan-fondo),
        $date-current-focus-background: var(--escan-secundario),
        $date-current-focus-foreground: var(--escan-fondo),


        $date-selected-current-background: var(--escan-primario),
        $date-selected-current-foreground: var(--escan-fondo),
        $date-selected-current-hover-background: var(--escan-secundario),
        $date-selected-current-hover-foreground: var(--escan-fondo),
        $date-selected-current-focus-background: var(--escan-secundario),
        $date-selected-current-focus-foreground: var(--escan-fondo),




    );

@include css-vars($custom-combo-theme);
@include css-vars($custom-drop-down-theme);
@include css-vars($custom-checkbox-theme);
@include css-vars($custom-datepicker-theme);

[class^=igx-] {


    --box-background: transparent; //var(--escan-primario);
    --box-background-hover: transparent;
    --box-background-focus: transparent;
    --toggle-button-background: transparent;
    --toggle-button-background-focus: transparent;
    --placeholder-color: var(--escan-opcional); //white;


    .igx-input-group {
        --focused-secondary-color: var(--escan-secundario);
        --success-secondary-color: var(--escan-secundario);
        --error-secondary-color: var(--escan-primario);
    }

    .igx-input-group--disabled .igx-input-group__input {
        font-weight: bold;
        color: black !important;
    }


}

/*
.igx-input-group--box .igx-input-group__bundle,
.igx-input-group--box .igx-input-group__bundle:hover,
.igx-input-group--box .igx-input-group__bundle .igx-input-group--focused
{
  background-color: transparent;
}

.igx-input-group .igx-combo__toggle-button,
.igx-input-group--box .igx-input-group--focused {
   background: transparent; 
 
}
*/



/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

/*
m - for classes that set margin, like this :

mt - for classes that set margin-top
mb - for classes that set margin-bottom
ml - for classes that set margin-left
mr - for classes that set margin-right
mx - for classes that set both margin-left and margin-right
my - for classes that set both margin-top and margin-bottom
Where size is one of margin :

0 - for classes that eliminate the margin by setting it to 0, like mt-0
1 - (by default) for classes that set the margin to $spacer * .25, like mt-1
2 - (by default) for classes that set the margin to $spacer * .5, like mt-2
3 - (by default) for classes that set the margin to $spacer, like mt-3
4 - (by default) for classes that set the margin to $spacer * 1.5, like mt-4
5 - (by default) for classes that set the margin to $spacer * 3, like mt-5
auto - for classes that set the margin to auto, like mx-auto
*/


/*
Bootstrap 5 has still includes spacing utilities for padding. However,
because of new RTL support "left" and "right" have been changed to
"start" and "end". For example pl-2 is now ps-2.

"start" and "end" 
(class="pr-0  pe-0 pl-0 ps-0") 


pl-* => ps-* (padding-left)
pr-* => pe-* (padding-right)
ml-* => ms-* (margin-left)
mr-* => me-* (margin-right)
Additionally, Bootstrap 5 introduces new grid gutter classes that can be used to
adjust the spacing between columns. The guttter is set on the row instead 
of each col-* inside the row. For example, use g-0 for no spacing between columns.

*/

:root {
    --escan-primario: #56a43b;
    --escan-primario-sombra: rgba(86, 164, 59, 0.5);

    --escan-secundario: #dc7322;
    --escan-secundario-sombra: rgba(220, 115, 34, 0.5);

    --escan-opcional: #4e4e4e;
    --escan-opcional-sombra: rgba(78, 78, 78, 0.5);


    --escan-fondo: white;
    --escan-fondo-secundario: white;

    --min-width: 300px;

    --min-width-sm: 576px;
    --min-width-md: 768px;
    --min-width-lg: 992px;
    --min-width-xl: 1200px;
    --min-width-xxl: 1200px;

  //igx-calendar
  --igx-calendar-date-focus-background: var(--escan-primario);
  --igx-calendar-date-hover-background: var(--escan-primario);

}

 //igx-calendar
.igx-calendar__header-date > span,
.igx-calendar__date-content > span,
.igx-calendar__date-content:hover {
  color: var(--escan-fondo);
}


html,
body {
    height: 100%;
    min-width: var(--min-width);
    background-image: url("../src/assets/images/foto-pattern-dark.png");
    background-repeat: repeat, repeat;
}

body {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.nav-link,
a {
    text-decoration: none;
    color: black;
}

.nav-link:visited,
a:visited {
    color: black !important;
}

.nav-link:hover,
a:hover {
    color: var(--escan-primario) !important;
}

.dropdown {

    .nav-link:hover,
    span:hover {
        color: var(--escan-primario) !important;
    }
}

i {
    color: var(--escan-secundario);
}

.primario,
.primario:disabled {
    color: var(--escan-primario);
}

.secundario,
.secundario:disabled {
    color: var(--escan-secundario);
}

.opcional,
.opcional:disabled {
    color: var(--escan-opcional);
}



.linea-top-primario {
    border-top: 2px solid var(--escan-primario);
}


.linea-top-primario-dashed {
    border-top: 2px dashed var(--escan-primario);
}



.linea-bottom-primario {
    border-bottom: 2px solid var(--escan-primario);
}

.linea-bottom-primario-dashed {
    border-bottom: 2px dashed var(--escan-primario);
}


.linea-top-secundario {
    border-top: 2px solid var(--escan-secundario);
}

.linea-top-secundario-dashed {
    border-top: 2px dashed var(--escan-secundario);
}

.linea-bottom-secundario {
    border-bottom: 2px solid var(--escan-secundario);
}

.linea-bottom-secundario-dashed {
    border-bottom: 2px dashed var(--escan-secundario);
}


.linea-top-opcional {
    border-top: 2px solid var(--escan-opcional);
}

.linea-top-opcional-dashed {
    border-top: 2px dashed var(--escan-opcional);
}

.linea-bottom-opcional {
    border-bottom: 2px solid var(--escan-opcional);
}

.linea-bottom-opcional-dashed {
    border-bottom: 2px dashed var(--escan-opcional);
}


input:disabled,
textarea:disabled {
    font-weight: bold;
    color: var(--escan-opcional);
}

//████████████████████████████████████████████CARD████████████████████████████████████████████████████████████████████████



.card-escasan-header {

    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--escan-opcional);
}

.card-escasan-header.primario {
    background-color: var(--escan-primario);
    color: var(--escan-fondo);
}

.card-escasan-header.secundario {
    background-color: var(--escan-secundario);
    color: var(--escan-fondo);
}

.card-escasan-header.opcional {
    background-color: var(--escan-opcional);
    color: var(--escan-fondo);
}




//████████████████████████████████████████████CHECBOX TOGGE████████████████████████████████████████████████████████████████

.check-escasan:checked {
    background-color: var(--escan-primario);
}

.toggle-check-escasan:checked {
    background-color: var(--escan-primario);
    border-color: var(--escan-primario);
}

//TOGGLET BOTON

.on {
    background-color: var(--escan-primario);
    color: var(--escan-fondo);
}

.off {
    background-color: var(--escan-secundario);
    color: var(--escan-fondo);
}

.on:hover {
    background-color: var(--escan-primario);
    color: var(--escan-fondo);
}

.off:hover {
    background-color: var(--escan-secundario);
    color: var(--escan-fondo);
}

.toggle {
    span {
        color: var(--escan-fondo);
    }
}

//FIN TOGGLET BOTON

//████████████████████████████████████████████TEXT████████████████████████████████████████████████████████████████████████

textarea::-webkit-resizer {
    border-width: 8px;
    border-style: solid;
    border-color: transparent var(--escan-primario) var(--escan-primario) transparent;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    pointer-events: none
}



input[type=number] {

    appearance: none;
    -moz-appearance: textfield;

}



//████████████████████████████████████████████BOTONES██████████████████████████████████████████████████████████████████████

button {
    transition: all 0.2s ease;
}

button:active {
    transform: scale(0.96);
}

.btn-primario {
    background-color: var(--escan-primario);
    color: var(--escan-fondo);

    i {
        color: var(--escan-fondo);
    }
}

.btn-primario:hover {
    background-color: var(--escan-primario);
    color: var(--escan-fondo);
    box-shadow: 0px 5px 10px 0px var(--escan-primario-sombra);
}

.btn-secundario {
    background-color: var(--escan-secundario);
    color: var(--escan-fondo);

    i {
        color: var(--escan-fondo);
    }

}

.btn-secundario:hover {
    background-color: var(--escan-secundario);
    color: var(--escan-fondo);
    box-shadow: 0px 5px 10px 0px var(--escan-secundario-sombra);
}


.btn-opcional {
    background-color: var(--escan-opcional);
    color: var(--escan-fondo);

    i {
        color: var(--escan-fondo);
    }
}

.btn-opcional:hover {
    background-color: var(--escan-opcional);
    color: var(--escan-fondo);
    box-shadow: 0px 5px 10px 0px var(--escan-opcional-sombra);
}



//████████████████████████████████████████████DIALOG██████████████████████████████████████████████████████████████████████
//cdk-overlay-container -zindex : 1000 default


.cdk-overlay-container:has(.cdk-global-overlay-wrapper > .cdk-overlay-pane.escasan-dialog-full-blur > .mat-mdc-dialog-container > .mdc-dialog__container > .mat-mdc-dialog-surface > app-wait),
.cdk-global-overlay-wrapper:has(.cdk-overlay-pane.escasan-dialog-full-blur > .mat-mdc-dialog-container > .mdc-dialog__container > .mat-mdc-dialog-surface > app-wait) {
    z-index: 2000;
}



.escasan-dialog-full,
.escasan-dialog-full-blur {
    max-width: 100% !important;
    max-height: 100% !important;
    min-width: var(--min-width);
    width: 100%;
    height: 100%;

}


.escasan-dialog-full-blur {
    filter: blur(1px);
    background-color: transparent;
    opacity: 0.7 !important;
}


.escasan-dialog {
    h1 {
        text-align: center;
    }

    .custom-cerrar {
        border: 0;
        background-color: transparent;

        .close-icon {
            font-size: 1.8em;
        }

        .close-icon:hover {
            font-size: 2em;
        }
    }

    .btn-contenedor {
        display: flex;
        justify-content: flex-end;
    }

    th {
        text-align: center;
    }

    .aling-number {
        text-align: right;
    }
}

//████████████████████████████████████████████FOOTER██████████████████████████████████████████████████████████████████████

.escan-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    /* @include Tamano(lg) {
    position: initial;
    text-align: right;
  }*/

    button {
        width: 100%;
        margin-right: 5px;
        background-color: var(--escan-primario);

        i {
            font-size: 1.5rem;
            margin-right: 10px;
        }

        /*@include Tamano(lg) {
      position: relative;
      //width: 200px;
      border: 0;
    }*/
    }
}



//████████████████████████████████████████████DIALOG ERROR██████████████████████████████████████████████████████████████████████

.error-etiqueta {
    font-weight: bold;
    color: black;
}

.error-mensaje {
    font-weight: normal;

    text-align: justify;
    text-justify: inter-word;
}

.error {
    font-weight: normal;

    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
    color: black;
}


//████████████████████████████████████████████SIMBOLO VALIDACION██████████████████████████████████████████████████████████████████████
li.error-etiqueta {
    list-style-position: inside;
    list-style-type: disc;
}

li.error-etiqueta::marker {
    font-weight: bold;
}

li.error-mensaje {
    list-style-position: inside;
    list-style-type: decimal;
}

li.error-mensaje::marker {
    font-weight: bold;
}

.contenedor-info-validacion {
    position: relative;
}

.info-validacion {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);

}