@use "/src/assets/scss/media.scss" as *;


app-cheque-saldo{
    position: relative;
    top:-60px;
}

.no-top{
    top:0px;
}

.contenedor-cheques{
    margin-bottom: 450px;
}


.Contenedor-offcanvas{
    position: relative;
    text-align: right;
}

.titulo{
    color: var(--escan-fondo);
    text-align: center;
}
// .card-escasan-header{
    
//     div{
//      display: inline-block;
//     }
 
 
//      div:first-child{
//          color: var(--escan-fondo);
//          width: 80%;
//      }
 
//      div:last-child{
//          color: var(--escan-fondo);
//          width: 20%;
//      }
//  }
 

.concepto {

    textarea {
        height: 120px;

    }

}

.numero {
    text-align: right;
}

#btn-Documentos-Proveedor {
    width: 100%;
}

.blue,
.blue:disabled {
    color: blue;
}

.opcional .opcional:disabled {
    color: var(--escan-opcional);
}


.bold {
    font-weight: bold;
}



.center,
input.center {
    text-align: center;
}

.importe {

    background-color: #a0e698; // #D9F5D6
    color: var(--escan-opcional);
    font-weight: bold;
}

//████████████████████████████████████████████TABLA████████████████████████████████████████████████████████████████████████

.orderby-mobile {
    display: none;
}

.numero {
    text-align: right;
}

.header,
.header-cell {
    background-color: var(--escan-opcional);
    padding: 5px;

    span {
        color: var(--escan-fondo);
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;

        i {
            color: var(--escan-fondo);
        }
    }
}

.header {

    @include Tamano_Menor(lg) {
        display: none;
    }


}

@include Tamano_Menor(lg) {

    .orderby-mobile {
        display:unset;
    }


    .contenedor-tabla {
        margin-bottom: 280px;
    }
}




.contenedor-tabla {
    margin-bottom: 250px;


    table {

        textarea {
            height: 31px;
        }

        .header-cell {

            display: none;

            @include Tamano_Menor(lg) {
                display: initial;
                text-align: center;
                background-color: var(--escan-fondo);

                span {
                    color: var(--escan-opcional);
                }

            }

        }

    }
}


//████████████████████████████████████████████PIE████████████████████████████████████████████████████████████████████████

.offcanvas-bottom{
    
    width: 100%;
    height: 300px;



    

    @include Tamano(md) {
        height: 350px;
    }


    @include Tamano(lg) {
        height: 180px;
    }




}


.contenedor-pie {
    position: relative;

}

.pie-Cheque {
    /*position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;*/
    z-index: 5;
    background-color: var(--escan-fondo);
    padding: 10px;

    .totales,
    .botones {
        margin-right: 20px;
        padding-right: 10px;
    }


    .totales {

        width: 100%;
        text-align: right;

        span{
            display: inline-block;
            width: 25%;
        }

        @include Tamano_Menor(lg){
            span{
                display: inline-block;
                width: 100%;
            }
        }

     

      

        .valores {
            background-color: var(--escan-opcional);
            color: var(--escan-fondo);
        }

        .valores.dif {
            background-color: var(--escan-primario);
        }

        .etiqueta{
            width: 30%;
            text-overflow: ellipsis;
        }

        .valores{
            width: 70%;
        }

        .etiqueta,
        .valores {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 1.1em;
            padding: 5px;
        }

        @include Tamano_Menor(lg) {


            .etiqueta {
                width: 30%;
            }


            .valores {
                width: 70%;
            }



        }

    }

    .botones {

        position: relative;
        width: 100%;


        div {
            text-align: left;
            width: 50%;
            display: inline-block;


        }

        div:first-child {
            button:first-child {
                margin-right: 20px;
            }
        }


        div:last-child {
            text-align: right;
            position: flex;
            right: 0;
            bottom: 0;
        }

        .botones-edicion {
            margin-top: 5px;

            button:last-child {
                margin-left: 20px;
            }

        }



        @include Tamano_Menor(lg) {


            div {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }


            div:first-child {

                button {
                    width: 50%;
                }

            }

        }


    }



}




.btn-contenedor-custom {
    display: flex;
    justify-content: flex-end;
}