<div class="contenedor">
    <div class="row">

        <div class="contenedor-filtro linea-bottom-primario">
            <div class="row">
                <p>Cierre Mensual</p>
            </div>

            <div class="row mb-2">
                <form autocomplete="off" [formGroup]="val.ValForm">
                    <div class="row">


                        <div class="col-12 col-md-12 col-lg-3 mb-1">
                            <igx-date-picker formControlName="txtFecha" id="txtFecha" [inputFormat]="'MM/yyyy'" >
                                <label igxLabel>Periodo Cierre</label>
                            </igx-date-picker>
                        </div>   


                        <div class="col-12 col-md-12 col-lg-3  mb-1">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                                <div class="form-floating">
                                    <select class="form-select form-select-lg" aria-label="CierreMes"
                                    id="cmbCierreMes" formControlName="cmbCierreMes">
                                        <option value="01">Inventario</option>
                                        <option value="02">Facturacion</option>
                                        <option value="03">Cuentas por Cobrar</option>
                                        <option value="04">Cuentas por Pagar</option>
                                        <option value="05">Nomina</option>
                                        <option value="06">Caja</option>
                                        <option value="07">Costos</option>
                                    </select>
                                    <label for="cmbCierreMes">Cierre</label>
                                </div>
                                <span class="input-group-text"> <button type="button" class="btn btn-secundario"
                                    id="btnReporte-Balance" (click)="V_Imprimir();"><i class="fa-solid fa-check-to-slot"></i>
                                    Aceptar</button></span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>



        </div>

    </div>


</div>