<div class="contenedor">
    <div class="row">

        <div class="contenedor-filtro linea-bottom-primario">
            <div class="row">
                <p>Cierre Mensual</p>
            </div>

            <div class="row mb-2">
                <form autocomplete="off" [formGroup]="val.ValForm">
                    <div class="row">


                        <div class="col-12 col-md-12 col-lg-3 mb-1">

                            <div class="form-group">
                                <div class="form-time-picker">
                                    <igx-date-picker #datepiker formControlName="txtFecha" id="txtFecha"
                                        [inputFormat]="'MM/yyyy'">
                                        <label igxLabel>Periodo Cierre</label>
            
                                        <igx-picker-toggle igxPrefix>
                                            <igx-icon igxPrefix><i class="bi bi-calendar primario"></i></igx-icon>
                                        </igx-picker-toggle>
            
                                        <igx-picker-clear igxSuffix>
                                            <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                                        </igx-picker-clear>
            
                                    </igx-date-picker>
                                </div>
                            </div>

                   
                        </div>   


                        <div class="col-12 col-md-12 col-lg-3  mb-1">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                                <div class="form-floating">
                                    <select class="form-select form-select-lg" aria-label="CierreMes"
                                    id="cmbCierreMes" formControlName="cmbCierreMes">
                                        <option value="01">Inventario</option>
                                        <option value="02">Facturacion</option>
                                        <option value="03">Cuentas por Cobrar</option>
                                        <option value="04">Caja</option>
                                        <option value="05">Importaciones</option>
                                        <option value="06">Costos de Venta</option>
                                        <option value="07">Iventario</option>
                                    </select>
                                    <label for="cmbCierreMes">Cierre</label>
                                </div>
                                <span class="input-group-text"> <button type="button" class="btn btn-secundario"
                                    id="btnCiere-Mes" (click)="V_Procesar();"><i class="fa-solid fa-check-to-slot"></i>
                                    Procesar</button></span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>



        </div>

    </div>


</div>